


<div class="cont_" >
    <div class="top-bar">
      <div class="top-bar__title">
          
            <img src="../../../assets/svg/logo.png" alt="Logo">
          
      </div>
      <div class="top-bar__right">
        <div class="user-name">
          Mike Smith
          <span>
            Verified
          </span>
        </div>
        <div class="user-img">MS</div> 
        <img src="../../../assets/svg/Path 373.svg" alt="">
      </div>
      </div>
    
    
    
    
      <div class="main-sidebar">
          <a href="/" class="main-sidebar__logo">
            <img src="../../../assets/svg/logo.png" alt="Logo">
          </a>
          <div class="main-nav">
            <a routerLink="/dashboard" routerLinkActive="active" class="@@dashboard">
              <i class="icon-Path-444"></i>
              Dashboard
            </a>
            <a routerLink="/account" routerLinkActive="active" class="@@account">
              <i class="icon-Path-443"></i>
              Contribution
            </a>
            <a routerLink="/account" routerLinkActive="active" class="@@account">
              <i class="icon-Path-447"></i>
              Verification
            </a>
            <a routerLink="/account-balance" routerLinkActive="active" class="@@balance">
              <i class="icon-Path-450"></i>
              Transactions
            </a>
            <a routerLink="buysell" routerLinkActive="active" class="@@trade">
              <i class="icon-Path-452"></i>
              FQA
            </a>
      </div>
      <div class="main-sidebar_bottom" >
          <p>ICO support by</p>
           <img src="../../../assets/svg/Group 262.svg" alt="Applicature">
      </div>
    </div>
    <div class="header_" >
        Whoops! Verification Failed.
    </div>
    <div class="container" >
       
        <div class="container_" >
          <div class="container_icon icon-Path-411" ></div>
          <p> There was an issue with one or more documents you provided.
             <br> Please see below: <br><br>   <'enter text here that we enter in 
              the refusal box in the admin tool> </p>
             
            <div class="container__bottom">
                <input type="submit" value="START OVER" >
              </div>
          <div class="container__line"> </div>
          <div class="container_block">
              <div class="container_block_child">
                <div>Full Name:                  </div>
                <div>Mykola Kovach                  </div>
              </div>
              <div class="container_block_child">
                <div>Date of Birth:                  </div>
                <div>10/11/1987                  </div>
              </div>
              <div class="container_block_child">
                <div>Phone:</div>
                <div>+1 866 752 7753                  </div>
              </div>
              <div  class="container_block_child" >
                <div>Address:              </div>
                <div>1751 Hotel Plaza Blvd, Lake Buena Vista, FL 32830, USA                  </div>
              </div>
          </div>     
          <div class="container_bottom"> </div>
        </div>
    
         
    </div>
    </div>