

<div class="cont_" >
    <div class="top-bar">
      <div class="top-bar__title">
          
            <img src="../../../assets/svg/logo.png" alt="Logo">
          
      </div>
      <div class="top-bar__right">
        <div class="user-name">
          Mike Smith
          <span>
            Verified
          </span>
        </div>
        <div class="user-img">MS</div> 
        <img src="../../../assets/svg/Path 373.svg" alt="">
      </div>
      </div>
    
    
    
    
      <div class="main-sidebar">
          <a href="/" class="main-sidebar__logo">
            <img src="../../../assets/svg/logo.png" alt="Logo">
          </a>
          <div class="main-nav">
            <a routerLink="/dashboard" routerLinkActive="active" class="@@dashboard">
              <i class="icon-Path-444"></i>
              Dashboard
            </a>
            <a routerLink="/account" routerLinkActive="active" class="@@account">
              <i class="icon-Path-443"></i>
              Contribution
            </a>
            <a routerLink="/account" routerLinkActive="active" class="@@account">
              <i class="icon-Path-447"></i>
              Verification
            </a>
            <a routerLink="/account-balance" routerLinkActive="active" class="@@balance">
              <i class="icon-Path-450"></i>
              Transactions
            </a>
            <a routerLink="buysell" routerLinkActive="active" class="@@trade">
              <i class="icon-Path-452"></i>
              FQA
            </a>
      </div>
      <div class="main-sidebar_bottom" >
          <p>ICO support by</p>
           <img src="../../../assets/svg/Group 262.svg" alt="Applicature">
      </div>
    </div>
    
    <div class="menu" >
       
    
            <div class="menu_left">
              <div class="login_" > 
                <div class="login_name">
                  <div>Buy SPARK</div>
                </div>
                <div class="login_box">
                      <p class="login_box_text" >Enter amount of SPARK</p>
                      <input type="text" class="margin" placeholder="20" >
                      <div class="icon-Group-799 margin" ></div>
                      <div class="login_box_three">
                        <div class="login_box_three_i" >
                          <p class="login_box_three_i_pad" >53222.2 SPARK / BTC</p>
                       <input  type="text" placeholder="0.0028572 BTC" >
                          <input type="submit" value="BUY FOR BTC" >
                        </div>
                        <div class="login_box_three_i" >
                          <p class="login_box_three_i_pad" >53222.2 SPARK / LTC </p>
                       <input type="text" placeholder="0.0028572 LTC" >
                          <input type="submit" value="BUY FOR LTC" >
                        </div>
                        <div class="login_box_three_i" >
                          <p class="login_box_three_i_pad" >53222.2 SPARK / ETH</p>
                       <input type="text" placeholder="0.0028572 ETH" >
                          <input type="submit" value="0.0083334 ETH" >
                        </div>
                      </div>
                </div>
                
                <div class="login_bottom"> </div>
              </div>
              
            </div>
         
    </div>
    </div>