<div class="cont_" >
<div class="top-bar">
  <h2 class="top-bar__title">
      
        <img src="../../../assets/svg/logo.png" alt="Logo">
      
  </h2>
  <div class="top-bar__right">
    <div class="user-name">
      Mike Smith
      <span>
        Administartor
      </span>
    </div>
    <div class="user-img">MS</div> 
    <img src="../../../assets/svg/Path 373.svg" alt="">
    <div class="top-bar__right_log">
      <div class="icon-Path-509ф" ></div>
      <div>Log Out      </div>
    </div>
  </div>
  </div>




  <div class="main-sidebar">
      <a href="/" class="main-sidebar__logo">
        <img src="../../../assets/svg/logo.png" alt="Logo">
      </a>
      <div class="main-nav">
        <a routerLink="/dashboard" routerLinkActive="active" class="@@dashboard">
          <i class="icon-Path-444"></i>
          Dashboard
        </a>
        <a routerLink="/account" routerLinkActive="active" class="@@account">
          <i class="icon-Path-447"></i>
          Investors
        </a>
        <a routerLink="/account-balance" routerLinkActive="active" class="@@balance">
          <i class="icon-Path-450"></i>
          Transactions
        </a>
        <a routerLink="buysell" routerLinkActive="active" class="@@trade">
          <i class="icon-Path-452"></i>
          FQA
        </a>
  </div>
  <div class="main-sidebar_bottom" >
      <p>ICO support by</p>
       <img src="../../../assets/svg/Group 262.svg" alt="Applicature">
  </div>
</div>


</div>