
<div class="cont_" >
  <div class="top-bar">
    <h2 class="top-bar__title">
        
          <img src="../../../assets/svg/logo.png" alt="Logo">
        
    </h2>
    <div class="top-bar__right">
      <div class="user-name">
        Mike Smith
        <span>
          Verified
        </span>
      </div>
      <div class="user-img">MS</div> 
      <img src="../../../assets/svg/Path 373.svg" alt="">
    </div>
    </div>
  
  
  
  
    <div class="main-sidebar">
        <a href="/" class="main-sidebar__logo">
          <img src="../../../assets/svg/logo.png" alt="Logo">
        </a>
        <div class="main-nav">
          <a routerLink="/dashboard" routerLinkActive="active" class="@@dashboard">
            <i class="icon-Path-444"></i>
            Dashboard
          </a>
          <a routerLink="/account" routerLinkActive="active" class="@@account">
            <i class="icon-Path-443"></i>
            Contribution
          </a>
          <a routerLink="/account" routerLinkActive="active" class="@@account">
            <i class="icon-Path-447"></i>
            Verification
          </a>
          <a routerLink="/account-balance" routerLinkActive="active" class="@@balance">
            <i class="icon-Path-450"></i>
            Transactions
          </a>
          <a routerLink="buysell" routerLinkActive="active" class="@@trade">
            <i class="icon-Path-452"></i>
            FQA
          </a>
    </div>
    <div class="main-sidebar_bottom" >
        <p>ICO support by</p>
         <img src="../../../assets/svg/Group 262.svg" alt="Applicature">
    </div>
  </div>
  
  <div class="menu" >
    <div  class="menu_verified" >
      <div class="table-responsive" >
        <table class="history-table table ">
            <thead>
                <tr>
                  <th>Wallet</th>
                  <th>Amount</th>
                  <th>Date</th>
                  <th>Tokens</th>
                
                </tr>
                </thead>
                <tbody>
                <tr>
        
                  <td>0x493555F5518A8f0A9B3A2D1562c6bEFe16B65241</td>
                  <td>245 ETH</td>
                  <td>10/10/2017, 12:30 PM</td>
                  <td>245</td>
                  
                </tr>
                <tr id="first" ></tr>
                <tr>
          
                    <td>0x493555F5518A8f0A9B3A2D1562c6bEFe16B65241</td>
                    <td>245 ETH</td>
                    <td>10/10/2017, 12:30 PM</td>
                    <td>245</td>
                  
                  </tr>
                  <tr id="first" ></tr>
                  <tr>
            
                      <td>0x493555F5518A8f0A9B3A2D1562c6bEFe16B65241</td>
                      <td>245 ETH</td>
                      <td>10/10/2017, 12:30 PM</td>
                      <td>245</td>
                    
                    </tr>
                    <tr id="first" ></tr>
                    <tr>
              
                        <td>0x493555F5518A8f0A9B3A2D1562c6bEFe16B65241</td>
                        <td>245 ETH</td>
                        <td>10/10/2017, 12:30 PM</td>
                        <td>245</td>
                      
                      </tr>
                      <tr id="first" ></tr>
                      <tr id="last">
                
                          <td>0x493555F5518A8f0A9B3A2D1562c6bEFe16B65241</td>
                          <td>245 ETH</td>
                          <td>10/10/2017, 12:30 PM</td>
                          <td>245</td>
                        
                        </tr>
                        
                </tbody>

        </table>
      </div>
      <p class="menu_verified_total" >Total: <span>513 643</span>         </p>
    </div> 
  </div>
  </div>