<div class="cont_" >
    <div class="top-bar">
      <h2 class="top-bar__title">
          
            <img src="../../../assets/svg/logo.png" alt="Logo">
          
      </h2>
      <div class="top-bar__right">
        <div class="user-name">
          Mike Smith
          <span>
            Administartor
          </span>
        </div>
        <div class="user-img">MS</div> 
        <img src="../../../assets/svg/Path 373.svg" alt="">
      </div>
      </div>
    
    
    
    
      <div class="main-sidebar">
          <a href="/" class="main-sidebar__logo">
            <img src="../../../assets/svg/logo.png" alt="Logo">
          </a>
          <div class="main-nav">
            <a routerLink="/dashboard" routerLinkActive="active" class="@@dashboard">
              <i class="icon-Path-444"></i>
              Dashboard
            </a>
            <a routerLink="/account" routerLinkActive="active" class="@@account">
              <i class="icon-Path-447"></i>
              Investors
            </a>
            <a routerLink="/account-balance" routerLinkActive="active" class="@@balance">
              <i class="icon-Path-450"></i>
              Transactions
            </a>
            <a routerLink="buysell" routerLinkActive="active" class="@@trade">
              <i class="icon-Path-452"></i>
              FQA
            </a>
      </div>
      <div class="main-sidebar_bottom" >
          <p>ICO support by</p>
           <img src="../../../assets/svg/Group 262.svg" alt="Applicature">
      </div>
    </div>
    <div class="menu" >
      <div class="menu_left" >
          <div *ngIf="see_investors" class="investor_" > 
              <div class="investor_name">
                <div>Investors  </div>
              </div>
              <div class="investor_box">
                
                 <div class="investor_box_input" >
                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <div class="input-group ">
                      <div class="input-group-addon icon-Path-527"></div>
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search...">
                    </div>
                 </div>
                 
                 
                 
                 
                 
                 <div class="investor_box_list" >
                    <div *ngIf ="!prof.length" class="investor_box_list_work"  >No results found</div>
                    <div *ngFor='let user of prof; let i = index ' 
                    (click)="see_investors_f(i)"
                    class="investor_box_list_work">
                      <div  class="investor_box_list_work_left">
                          <div class="investor_box_list_work_left_round {{user.status}}" >{{ user.firstName.slice(0,1) + user.lastName.slice(0,1) }}</div>
                          <div class="investor_box_list_work_left_block" >
                            <p>{{ user.firstName +" "+ user.lastName}}<span> – {{user.Email}}</span></p>
                            <p> {{ user.Manual }}</p>
                          </div>
                        </div>
                        <div *ngIf=user.Spark  class="investor_box_list_work_right"> {{ user.Spark }} SPARK </div>
                    </div>
                  </div>
                  
              </div>
            
            </div>
            <div *ngIf="!see_investors" class="slice_">
              <div  class="box__" >
                <div class="box__slice"  >
                  <div class="box__slice_header" >
                    <div class="box__slice_header_back icon-Path-510" (click)="see_investors_f(false)" ></div>
                    <div [ngClass]="{ 'grey': prev }" 
                    (click)="move_slice(false)"
                    class="box__slice_header_prew grey" >
                        <div  class="icon-Path_510_2_ф"  ></div>
                        <p  > Prev</p>
                    </div  >
                    <p class="box__slice_header_full" >{{prof_index.firstName +" "+prof_index.lastName }}</p>
                    <div [ngClass]="{ 'grey': next }" 
                    (click)="move_slice(true)"
                    class="box__slice_header_next"  >
                      <p>Next</p>
                      <div class="icon-Path_510_1_ф" ></div>
                    </div>
                    <div class="box__slice_header_round {{prof_index.status}} " >
                        <p>{{ prof_index.firstName.slice(0,1) + prof_index.lastName.slice(0,1) }}</p>
                    </div>
                  </div>
                </div>
              <div class="box__slice_content"    >
                <div class="box__slice_content_left">
                  <div>
                    <div class="icon-Path-518" ></div>
                    <p>{{prof_index.firstName +" "+prof_index.lastName }}</p>
                  </div>
                  <div>
                      <div class="icon-Path-569" ></div>
                      <p>{{prof_index.date }}</p>
                  </div>
                  <div>
                    <div class="icon-Path-517" ></div>
                    <p>{{prof_index.Email }}</p>
                  </div>
                  <div>
                    <div class="icon-Path-516" ></div>
                    <p>{{prof_index.Tel }}</p>
                  </div>
                  <div>
                    <div class="icon-Path-515" ></div>
                    <p>{{prof_index.Geo }}</p>
                  </div>
                  <div>
                      <div class="icon-Path-573" ></div>
                      <p>{{prof_index.adress }}</p>
                  </div>
                </div>
                <div class="box__slice_content_right">
                  <div class="box__slice_content_right_child" >
                    <div class="icon-Path-521" >     </div>
                    <div>
                      <p>Passport or Government Issue of Card (front): <br> <span>photo.png</span></p>
                    </div>
                  </div>
                  <div class="box__slice_content_right_child" >
                      <div class="icon-Path-521" >     </div>
                    <div>
                      <p>Passport or Government Issue of Card (back): <br> <span>photo.png</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="prof_index.status === 'NotVerified'"  class="box__slice_bottom" >
                <input type="submit" value='REFUSAL' >
                <input type="submit" value='CONFIRM'>
               
              </div>
              <div  *ngIf="prof_index.status === 'Refused'" class="box__slice_b" >
                  <p>Investor Blocked </p> 
                  <p> enter text here that we enter in the refusal box in the admin tool</p>
                </div>
              
            </div>
            <div  *ngIf="prof_index.status === 'Confirmed'" class="_verified" >
              <div class="table-responsive" >
                <table class="history-table table ">
                    <thead>
                        <tr>
                          <th>Wallet</th>
                          <th>Amount</th>
                          <th>Date</th>
                          <th>Tokens</th>
                        
                        </tr>
                        </thead>
                        <tbody *ngFor='let user of prof_index.Confirmed; let i = index '>
                          
                              <tr >
                                  <td>0x49355...65241</td>
                                  <td>2.45 ETH</td>
                                  <td>10/10/2017, 12:30 PM</td>
                                  <td>245</td>
                                  
                                </tr>
                                <tr  id="first" ></tr>
          
                        </tbody>
      
                </table>
              </div>
              <p class="_verified_total" >Total: <span>513 643</span>         </p>
            </div> 
          </div>
      </div>
      <div class="menu_right" >
          <form class="sort_" > 
              <div class="sort_name">
                <div>Sort</div>
              </div>
              <div class="sort_box">
                  <a href="">All Investors</a>
                  <a href="">Confirmed</a>
                  <a href="">Manual Checking</a>
                  <a href="">Not Verified</a>
                  <a href="">Failed</a>
              </div>
           
            
          </form>
      </div>
    </div>
    
    </div>