


















  <div class="cont_" >
      <div class="top-bar">
        <h2 class="top-bar__title">
            
              <img src="../../../assets/svg/logo.png" alt="Logo">
            
        </h2>
        <div class="top-bar__right">
          <div class="user-name">
            Mike Smith
            <span>
              Administartor
            </span>
          </div>
          <div class="user-img">MS</div> 
          <img src="../../../assets/svg/Path 373.svg" alt="">
        </div>
        </div>
      
      
      
      
        <div class="main-sidebar">
            <a href="/" class="main-sidebar__logo">
              <img src="../../../assets/svg/logo.png" alt="Logo">
            </a>
            <div class="main-nav">
              <a routerLink="/dashboard" routerLinkActive="active" class="@@dashboard">
                <i class="icon-Path-444"></i>
                Dashboard
              </a>
              <a routerLink="/account" routerLinkActive="active" class="@@account">
                <i class="icon-Path-447"></i>
                Investors
              </a>
              <a routerLink="/account-balance" routerLinkActive="active" class="@@balance">
                <i class="icon-Path-450"></i>
                Transactions
              </a>
              <a routerLink="buysell" routerLinkActive="active" class="@@trade">
                <i class="icon-Path-452"></i>
                FQA
              </a>
        </div>
        <div class="main-sidebar_bottom" >
            <p>ICO support by</p>
             <img src="../../../assets/svg/Group 262.svg" alt="Applicature">
        </div>
      </div>
      <div class="menu" >
        



    <div  class="menu_left " >
        <div class="login_" > 
            <div class="login_name">
              <div class="login_name_first" >Lorem ipsum dolor sit amet?</div>
              <div class="login_name_two" >
                <div class=" login_name_two_i icon-Path-511" ></div>
                <div class=" login_name_two_i icon-Path-510р" ></div>
                <div class=" login_name_two_i icon-Group-745" ></div>
              </div>
              
            </div>
            <div class="login_box">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris 
                    in tellus quam. Quisque sit amet pellentesque nisi. Curabitur 
                    consequat volutpat commodo. Etiam fringilla ligula quis ultrices 
                    eleifend. Ut pharetra, leo non faucibus pulvinar, arcu libero 
                    placerat urna, ac pharetra eros augue non elit. Duis metus enim,
                     finibus sit amet volutpat in, mollis mattis erat.
                </p>
              </div>
        </div>
        <div class="login_" > 
            <div class="login_name">
              <div class="login_name_first" >Lorem ipsum dolor sit amet? <span>(edit)              </span>              </div>
              <div class="login_name_two" >
                <div class=" login_name_two_i icon-Path-513іі" ></div>
                <div class=" login_name_two_i icon-Path-514і" ></div>
                <div class=" login_name_two_i icon-Path-510р" ></div>
                <div class=" login_name_two_i icon-Group-745" ></div>
              </div>
              
            </div>
            <div class="login_box">
                <div>
                    Lorem ipsum dolor sit amet,
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris 
                    in tellus quam. Quisque sit amet pellentesque nisi. Curabitur 
                    consequat volutpat commodo. Etiam fringilla ligula quis ultrices 
                    eleifend. Ut pharetra, leo non faucibus pulvinar, arcu libero 
                    placerat urna, ac pharetra eros augue non elit. Duis metus enim,
                     finibus sit amet volutpat in, mollis mattis erat.
                </div>
  
                   
                
              </div>
        </div>
  
    </div>
  
      <div class="menu_menu">
  
        <form class="login_" > 
            <div class="login_name">
              <div>Add New Question</div>
            </div>
            <div class="login_box">
                <div class="form-group ">
                    <input type="email" class="form-control login_box_email"  placeholder="Enter Question                  ">
                  </div>
                  <div class="form-group ">
                      <textarea class="form-control  login_box_pass"  placeholder="Enter Answer"  rows="9"></textarea>
                  </div>
                  <div class="login_box_bottom">
                    <input type="submit" value="save" >
                   
                  </div>
            </div>
         
          
        </form>
      </div>
      
    
  
  
  
  
      </div>
      
      </div>