@import "../../../../assets/variables";
.Checking{
    background-color: $Checking !important;
}
.Confirmed{
    background-color: $Confirmed !important;
}
.Refused{
    background-color: $Refused !important;
}
.NotVerified{
    background-color: $NotVerified !important;
}