@import "../../../../assets/variables";
.sort_{
    width: 320px;
    height: 440px;
    border-radius: 3px;
    box-shadow:$b_shodw;
        &name{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 68px;
            background-color: $b_l_grey;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
                div{
                    font-family: Montserrat_Regular;
                    color:$t_blavk;
                    font-size: $t_mid;
                }
        }
        &box{
            background-color: $b_whi;
            padding: 20px 0px 20px 0px;
            height: 372px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            a{
                width: 100%;
                height: 68px;
                display: flex;
                align-items: center;
                justify-content: center;
                color:$t_grey;
                text-decoration: none;
                font-family: Montserrat_Regular;                                
                    &:hover{
                        color:$t_blavk;
                        background-color: $b_bor;
                    }
            }
       
        }
       
}