@import "../../../../assets/variables";
@import '../../../../assets/fonts';
// @import '../../../../assets/style-investors';
.slice_{
    width: 100%;
    .box__ {
        border-radius: 5px;
        box-shadow: $b_shodw;
        background-color: $t_whi;
        border-radius: 5px;
        width: 100%;
        
            @media #{$desktop-sm} {
            max-width: 100%;
              }
              @media #{$desktop-md} {
                max-width: 100%;
                }
          &found{
            margin: 20px 0 20px 0;
            color:$t_grey;
            font-size:$t_mid;
            text-align: center;
          }
        &slice{
        &_header{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          height: 68px;
          background-color: $b_l_g;
              @media #{$phone-lg}{
                padding: 10px 30px 10px 30px;
              }
          &_back{
           font-size: 18px;
          
           color: rgba($t_grey, 0.4);
            cursor: pointer;
            @media #{$phone-lg}{
                font-size: 20px;
              }
            @media #{$tablet}{
                font-size: 23px;
              }
              @media #{$desktop-md}{
                font-size: 28px;
              }
          }
        
          &_next ,&_prew{
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: $t_text;
           
           div{
              color:inherit;
               font-size: 14px;
               @media #{$phone-lg}{
                font-size: 17px;
              }
              @media #{$tablet}{
                font-size: 20px;
              }
            }
            p{
                font-size:$t_mid_s ;
                color:inherit;
                margin: 0 5px 0 5px;
                  @media #{$phone-lg}{
                    margin: 0 10px 0 10px;
                  }
             
            }
           
          }
          .grey{
            color: rgba( $t_grey, 0.5) !important ;
          }
        &_full{
          width: 34%;
          text-align: center;
          font-size:$t_mid_s;
          margin-bottom: 0;
          color:$t_blavk;
                @media #{$phone-lg}{
                  width: 40%;
                  font-size: $t_mid
                }
        }
          &_round{
            width: 34px;
            height: 34px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $Refused;
            p{
              color:$t_whi;
              font-size:$t_mid_xs;
              margin-bottom: 0;
            }
          }
        }
        
        &_content{
          width: 100%;
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid $b_grey;
                @media (min-width: 540px) {
                  flex-direction: row;
                }
        
          &_left{
            width: 100%;
            border-bottom: 1px solid $b_grey;
            display: flex;
            flex-direction: column;
            padding: 9px 15px 15px 15px ;
                  @media (min-width: 540px) {
                    width: 50%;
                    border: none;
                    border-right: 1px solid $b_grey;
                      }
          
            div{
              display: flex;
        
              height: 40px;
              
              @media #{$phone} {
                justify-content: center;
                align-items: center;
              }
                div{
                    width: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media #{$phone-lg} {
                        margin-right: 0;
                        width: 40px;
                      }
                }
              p{
                margin: 7px 0 7px 15px ;
                font-size:$t_mid_xs;
                color:$t_text;
                width: 100%;
                      @media (min-width: 540px) {
                        font-size:$t_mid_s;
                        width: 78%;
                      }
              }
            }
            div:nth-of-type(4){
             align-items: flex-start;
          img{
            margin-top: 7px;
          }
            }
          }
          &_right{
            display: flex;
            flex-direction: column;
            width: 100%;
                  @media (min-width: 540px) {
                          width: 50%;
                            }
            
              &_child{
                height: 50%;
                display: flex;
                border-bottom: 1px solid $b_grey;
                padding: 37px 10px 37px 0px;
                  @media #{$phone-lg} {
                    padding: 37px 10px 37px 0px;
                      }
                      .icon-Path-521{
                          width: 60px;
                          font-size: 26px;
                      }
                      
              div:nth-of-type(1){
                display: flex;
                align-items: center;
                justify-content: center;
                 
              }
              div:nth-of-type(2){
                border-left: 1px solid $b_grey;
                display: flex;
                justify-content: center;
                align-items: center;
         
                p{
                  padding-left: 20px;
                  color:$t_text;
                  font-size: 11px;
                  margin-bottom: 0;
                    @media #{$phone-lg}{
                      font-size: $t_min_l;
                    }
                  span{
                    font-size:$t_mid_xs;
                    color:$t_blavk;
                      @media #{$phone-lg}{
                        font-size:  $t_mid_s;
                      }
                  }
                }
              }
            }
            &_child:nth-of-type(2){
                border: none;
            }
          }
        }
    

        
        
        &_bottom{
          display: flex;
          justify-content: center;
          padding: 8px;
              @media #{$phone-lg}{
                padding: 15px;
              }
          input{
            font-size:$t_mid_s;
            width: 100px;
            height: 30px;
            text-transform: uppercase;
            color:$t_whi;
            border: 5px;
            background:$l_g;
            cursor: pointer;
            border-radius: 5px;
          }
            input:nth-of-type(2){
              background-color: $Rgreen;
              margin-left: 10px;
            }
 
        }
        &_b{
          padding:8px;
          @media #{$phone-lg} {
            padding: 15px
        }
          @media #{$desktop-md}{
            padding: 25px;
          }
          p{ 
              text-align: center;
              margin-bottom: 0;
          }
          p:nth-of-type(1){
              color:$Refused;
              font-size: $t_mid;
      
              @media #{$phone-lg} {
                  font-size: $t_mid_m;
              }
          }
          p:nth-of-type(2){
              color:$t_text;
              font-size: $t_mid_s;
              @media #{$phone-lg} {
                  font-size: $t_mid_xs;
              }
          }
       }
 
        }
        }
 
           
}
.icon-Path-510{
  color:red;
}