@import "../../../../assets/variables";

._verified{
    width: 100%;
      padding: 10px 0px 10px 0px;
    //   border-left: 4px solid $b_body;
            @media #{$phone-lg} {
              padding: 15px 0px 15px 0px;
             
            }
      .table-responsive{
        border: none;
        overflow-y: hidden;
        -webkit-box-shadow: 0 10px 6px -6px rgb(214, 208, 208);
        -moz-box-shadow: 0 10px 6px -6px rgb(223, 209, 209);
        box-shadow: 0 10px 6px -6px rgb(219, 215, 215);
     

      .history-table {
      margin-bottom: 0;
        thead {
         
          th{
              border-top: 1px solid $b_body;
              border-bottom: 1px solid $b_body;
              font-size: $t_min_l;
              color:$t_text;
              border-top:0;
          
             
          }
          th:last-child{
           padding-left:20px;
          }
        }
        tbody {
          
          background-color: $b_whi;
              tr{
                  height: 50px;
                  border-left: 5px solid $b_blue;
                  border-radius: 3px;
                  z-index: 9;
                  box-shadow:0 10px 6px -6px rgb(219, 215, 215);
                // border-top: 6px solid transparent;
                      td{
                        font-size: $t_min_l;
                         color:$t_grey;
                         @media #{$phone-lg} {
                          font-size: $t_mid_s;
                        }
                      }
                  
                      
                      td:last-child{
                        padding-left:20px;
                        color:$t_blavk;
                      }
              }
              tr:first-child{
                box-shadow:0 -10px 6px -6px rgba(219, 215, 215,0.5),0 10px 6px -6px rgb(219, 215, 215);
                border-left: 5px solid $Checking;
               
              }
           
        }
      
      }
      }
      &_total{
        color: $t_blavk;
        font-size: $t_mid_s;
        float: right;
        margin: 10px 30px 0 0;
          span{
            color:$b_blue;
            font-size: $t_mid_s;
          }
        }
        #first{
            height: 10px;
            background-color: $b_body;
            z-index: -3;
            background-clip: content-box;
          }
    }
    tbody:last-child{
      #first{
        
        display: none;
        // background-color: red !important;
      }
    }