@import "./../../../assets/variables";
@import './../../../assets/fonts.scss';
@import '../../../assets/style.scss';





.cont__{
    position: relative;
    min-height: 100vh;
  
  .top-bar {
    padding-left: 50px;
    height: 50px;
    background: $t_whi;
    box-shadow:$b_shodw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: relative;
  
    @media #{$tablet} {
      height: 66px;
    }
  
    @media #{$desktop-sm} {
      padding-left: 20px;
  
    }
  
    &__toggle {
      position: absolute;
      width: 18px;
      height: 19px;
      border-top: 3px solid $t_blavk;
      border-bottom: 3px solid $t_blavk;
      left: 20px;
      top: 50%;
      margin-top: -10px;
  
      &.active {
        border: 0;
  
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
  
      @media #{$desktop-sm} {
        display: none;
      }
  
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 3px;
        margin: -2px 0 0 -9px;
        background: $t_blavk;
  
        @media #{$tablet} {
          margin-top: -1px;
        }
      }
    }
  
    &__title {
      img{
        width: 100%;
      }
    }
  
    &__right {
      height: 100%;
      text-align: right;
      color: $t_blavk;
      line-height: 1.4em;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .user-name {
        display: none;
        font-size: $t_mid_xs;
        font-family: Montserrat_Regular;
        color: $t_blavk;
          @media #{$phone} {
              display: block;
          }
  
        span {
          display: block;
          font-size:  $t_mid_xs - 3;
          line-height: 1.2em;
          color: $t_text;
          font-family: Montserrat_Regular;
        }
      }
  
  
      .user-img {
        width: 32px;
        height: 32px;
        text-align: center;
        text-transform: uppercase;
        background:$b_blue;
        border-radius: 50%;
        color: $t_whi;
        line-height: 32px;
        font-size:  $t_mid_xs ;
        margin:0 10px 0 10px ;
      }
      img{
         width: 12px;
         height: 12px;
         margin-right: 10px;
      }
      &_log{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 283px;
          height: 50px;
          background-color: $t_whi;
          position: absolute;
          right: 0;
          top:50px;
          border: 1px solid $b_bor;
          font-size: $t_mid_xs;
          color: $t_text;
          font-family: Montserrat_Regular;
  
          @media #{$tablet} {
              top:66px;
            }
            &:hover{
              
              i{
                  background: $l_g;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent; 
              }
             
           }
           div{
               margin-left: 10px;
              color:$t_blavk;
           }
         
      }
    }
  }
  .main-sidebar {
      top: 60px;
      left: 0;
      bottom: 0;
      z-index: 5;
      background: $b_whi;
      width: 200px;
      position: absolute;
      box-shadow: $b_shodw;
      margin-left: -200px;
      overflow: hidden;
    
      &.active {
        margin-left: 0;
        overflow: auto;
      }
    
      @media #{$tablet} {
        top: 80px;
      }
    
      @media #{$desktop-sm} {
        top: 0;
        overflow: auto;
        margin-left: 0;
      }
    
      &__logo {
        padding: 9px 20px 9px 20px;
        display: block;
        img {
          max-width: 100%;
        }
      }
      &_bottom{
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        left:20px;
        bottom: 17px;
        @media #{$desktop-sm} {
          display: flex;
        }
        p{
          margin-bottom: 0;
          font-size: $min;
          font-family: Montserrat_Regular;      
          color:$t_grey;  
        }
        img{
          width: 56.5px;
          height: 9.53;
          margin-left: 7px;
        }
      }
    }
    
    .main-nav {
      padding-top: 21px;
    
      a {
        display: flex;
        align-items: center;
        display: block;
        height: 68px;
        line-height: 50px;
        text-decoration: none;
        font-size: $t_mid_xs;
        color:$t_blavk;
        padding-left: 60px;
        position: relative;
        font-family: Montserrat_Regular;
        padding-top: 10px;
        
        &:hover {
          color: $t_blavk;
          background-color: $b_body;
          i{
            background: $l_g;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
    
        i {
          position: absolute;
          left: 37px;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 23px;
        }
      }
    }
      a.last-menu-item {
        margin-top: 31px;
        font-size: $font-size-default - 2;
    
        &:before {
          content: "";
          display: block;
          height: 1px;
          width: auto;
          background: $color-them-dark-alt;
          left: 15px;
          right: 15px;
          top: -16px;
          position: absolute;
        }
      }
    
      .active {
        color: $color-gold;
        border-left: 3px solid $color-gold;
        background: rgba($color-white, .1);
      }
        .menu{
      display: flex;
      flex-direction: column;
      padding: 10px;
      
      @media #{$phone-lg} {
          
          padding: 20px 20px 20px 20px;
      }
      @media #{$tablet} {
          
          padding: 30px 30px 30px 30px;
      }
      @media #{$desktop-sm} {
          
          padding: 30px 60px 30px 260px;
      }
  
    
  
.edit-accreditation-page {
    *{font-family: Montserrat_Regular;}
    width: 100%;
  .submit-block {
    padding: 30px 20px;
  }
  .send-data {
    text-align: center;
    color: $text;
  }
  .general-error {
    margin-top: 10px;
    text-align: center;
    color: $red;
  }

  .submit-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 15px 15px;
    font-size: 10px;
    
    text-transform: uppercase;
  }
  .buttom_{
      
      
      &btn{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        background-color: $b_whi;
              @media #{$tablet} {
                  height: 120px;     
      
              }
          input{
            width: 270px;
            height: 40px;
            background:$l_g;
            border: 0;
            border-radius: 5px;
            color: $t_whi;
            text-transform: uppercase;
          }
           
      }
      &_line{
        height: 3px;
        background:$l_g;
      }
  }
}

.edit-accreditation-wrapper {
    box-shadow: $b_shodw;
  .form-section{  
     
      background-color: $b_whi;

        .sub-header {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            color: $t_blavk;
            font-size: $t_mid_m;
            background-color: $b_l_g;
                @media #{$tablet} {
                    
                    font-size: $t_mid;
                    height: 68px; 
                }
            }
            .cont_{
                padding: 20px;
                border-bottom: 3px solid $b_l_g;
                @media #{$tablet} {
                padding: 60px;
                    
                
                }
            .row{
                display: flex;
                flex-direction: column;
                    @media #{$desktop-sm} {
                        flex-direction: row;
                        margin-right: 0;
                    }
                    &_full{
                        width: 100%;
                        @media #{$desktop-sm} {
                            width: 50%;
                        }
                    }
                    .form-group{
                       
                        padding: 10px;;
                        @media #{$tablet} {
                           
                            margin-right: 0;
                        }
                    span{display: none;}
                    label{
                        font-size: $t_min_l;
                        color:$t_text;
                        font-family: Montserrat_Regular;
                    }
                    input,  {
                        color:$t_blavk;
                        font-size: $t_mid_s;
                        font-family: Montserrat_Regular;
                        
                    }
                    input::placeholder{
                        color:$t_grey;
                    }
                    .gender-span{
                        color:$t_grey;
                        font-size: $t_mid_s;
                        font-family: Montserrat_Regular;
                        
                    }
                    .custom-radio{
                        width: 100px;
                    }
                    ._l{    
                        color:$t_blavk !important;
                        font-size: $t_min_l;
                        font-family: Montserrat_Regular;
                    }
                   
                    }
            }

            ._input{
                span{
                    font-size: $t_mid_s;
                    font-family: Montserrat_Regular;
                    color:$t_text;
                }
                label{
                    font-size: $t_min_l;
                    color:$t_text;
                    font-family: Montserrat_Regular;
                }
                input,  {
                    color:$t_blavk;
                    font-size: $t_mid_s;
                    font-family: Montserrat_Regular;
                    
                }
                input::placeholder{
                    color:$t_grey;
                }
                .gender-span{
                    color:$t_grey;
                    font-size: $t_mid_s;
                    font-family: Montserrat_Regular;
                }
            }

            .rules-list{
                padding-left: 0;
                padding-top: 0px;
                    @media #{$tablet} {
                padding-top: 20px;
                     
                    }
                li{
                font-size: $t_min_l;
                font-family: Montserrat_Regular;
                color:$t_text;
                margin: 0.25rem;
                }
                li:before{
                    content: "";
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $b_blue;
                    border-radius: 50%;
                    display: inline-block;
                   
                    margin-right: 0.5rem;
                }
                
                li {
                    list-style: none; 
                  }
                
            }
            
        
        }
  }




  
}

// RADIO Button
.radio-buttons{

margin-left: 0;
position: relative;
margin-top: 40px;


.container{
   
    position: absolute;
    left:50px;
    top:-25px;
    width: 250px;
    @media #{$phone-lg} {
        width: 300px;
        left:90px;
        }

  }
  
 
  
  .container ul{
    list-style: none;
    margin: 0;
    padding: 0;
      display: flex;
  }
  
  ul li{
   
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
  }
  
  ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
      
  }
  
  ul li label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1em;
    padding: 25px 25px 25px  60px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s ;

    color: $t_blavk !important;
    font-size: $t_min_l;
    font-family: Montserrat_Regular;
  }
  
  
  
  ul li .check{
    display: block;
    position: absolute;
    border-radius: 50%;
    height: 25px;
    width:  25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    box-shadow: 0 0 7px 0 grey;

    
  }
  
  
  ul li .check::before {
    display: block;
    position: absolute;
      content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
      left: 5px;
   
      
  }
  
  
  
  input[type=radio]:checked ~ .check::before{
    background: #25AFB4;
  }



}
  

  
  }
  
  
  
    }
    
  
    
  