
<div class="cont__" >
    <div class="top-bar">
      <h2 class="top-bar__title">
          
            <img src="../../../assets/svg/logo.png" alt="Logo">
          
      </h2>
      <div class="top-bar__right">
        <div class="user-name">
          Mike Smith
          <span>
            Verified
          </span>
        </div>
        <div class="user-img">MS</div> 
        <img src="../../../assets/svg/Path 373.svg" alt="">
      </div>
      </div>
    
    
    
    
      <div class="main-sidebar">
          <a href="/" class="main-sidebar__logo">
            <img src="../../../assets/svg/logo.png" alt="Logo">
          </a>
          <div class="main-nav">
            <a routerLink="/dashboard" routerLinkActive="active" class="@@dashboard">
              <i class="icon-Path-444"></i>
              Dashboard
            </a>
            <a routerLink="/account" routerLinkActive="active" class="@@account">
              <i class="icon-Path-443"></i>
              Contribution
            </a>
            <a routerLink="/account" routerLinkActive="active" class="@@account">
              <i class="icon-Path-447"></i>
              Verification
            </a>
            <a routerLink="/account-balance" routerLinkActive="active" class="@@balance">
              <i class="icon-Path-450"></i>
              Transactions
            </a>
            <a routerLink="buysell" routerLinkActive="active" class="@@trade">
              <i class="icon-Path-452"></i>
              FQA
            </a>
      </div>
      <div class="main-sidebar_bottom" >
          <p>ICO support by</p>
           <img src="../../../assets/svg/Group 262.svg" alt="Applicature">
      </div>
    </div>
    
    <div class="menu" >
        <div class="edit-accreditation-page">
            <form >
            
                  <div class="edit-accreditation-wrapper white-wrapper">
                    <div class="form-section">
                      <div class="sub-header">Personal Information</div>
                      <div class="cont_" >
                      <div class="row">
                        <div class="row_full" >
                          <div class="form-group">
                            <label for="firstName">First Name*</label>
                            <input
                              id="firstName"
                             
                              
                              placeholder="Enter your First Name"
                              class="form-control form-control-lg"/>
                            <span class="field-error"
                                 >Field is required!</span>
                            <span class="field-error"
                                >serverErrors.firstName}</span>
                          </div>
                        </div>
                        <div class="row_full">
                          <div class="form-group">
                            <label for="lastName">Last Name*</label>
                            <input
                              id="lastName"
                            
                            
                              placeholder="Enter your Last Name"
                              class="form-control form-control-lg"/>
                            <span class="field-error"
                                 >Field is required!</span>
                            <span class="field-error"
                                  >serverErrors.lastName</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="row_full">
                          <div class="form-group">
                            <label for="middleName">Middle Name</label>
                            <input
                              id="middleName"
                              placeholder="Enter your Middle Name"
                              class="form-control form-control-lg"/>
                          </div>
                        </div>
                        <div class="row_full">
                          <div class="form-group" >
                            <label for="dateOfBirth">Date of Birth*</label>
                            <input
                              id="dateOfBirth"
                              placeholder="YYYY-MM-DD"
                              class="form-control form-control-lg"/>
                            <span class="field-error"
                                 >Field is required!</span>
                            <span class="field-error"
                                  >serverErrors.dateOfBirth</span>
                          </div>
                        </div>
                        
                      </div>
                      <div class="row">
                        <div class="row_full" >
                          <div class="form-group" >
                            <label for="phoneNumber">Contact Phone Number*</label>
                            <input
                              id="phoneNumber"
                            
                              
                              placeholder="Number (+38000...)"
                              class="form-control form-control-lg"
                              iput type="tel"/>
                            <span class="field-error"
                                 >Field is required!</span>
                            <span class="field-error"
                                 >serverErrors.phoneNumber</span>
                          </div>
                        </div>
                        <div class="row_full" >
                          <div class="form-group radio-buttons">
                            <div class="gender-span ">Gender</div>
                           
                            <div class="container">
            
                                <ul>
                              
                                
                                <li>
                                  <input type="radio" id="s-option" name="selector">
                                  <label for="s-option">Male</label>
                                  
                                  <div class="check"></div >
                                </li>
                                
                                <li>
                                  <input type="radio" id="t-option" name="selector">
                                  <label for="t-option">Female</label>
                                  
                                  <div class="check"></div >
                                </li>
                              </ul>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="row_full" >
                            <div class="form-group" >
                              <label for="phoneNumber">Ethereum address* </label>
                              <input
                                id="phoneNumber"
                                
                                placeholder="Enter your ETH address"
                                class="form-control form-control-lg"
                                iput type="tel"/>
                              <span class="field-error"
                                   >Field is required!</span>
                              <span class="field-error"
                                   >serverErrors.phoneNumber</span>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
          
                    <div class="main-separator"></div>
                    <div class="form-section">
                        <div class="sub-header">Residental Address</div>
                        <div class="cont_" >
                        <div class="row">
                          <div class="row_full" >
                            <div class="form-group" >
                                
                                <label for="country">Country*</label>
                               
                                <input  id="country" 
                                class="form-control form-control-lg"
                                placeholder="Select Country" />
                                <span class="field-error"
                                      >serverErrors.country</span>
                              </div>
                          </div>
                          <div class="row_full">
                            <div class="form-group">
                              <label for="zip-code">Zip Code*</label>
                              <input
                                id="zip-code"
                              
                              
                                placeholder="Enter Zip Code"
                                class="form-control form-control-lg"/>
                              <span class="field-error"
                                   >Field is required!</span>
                              <span class="field-error"
                                    >serverErrors.lastName</span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="row_full">
                            <div class="form-group">
                              <label for="city">City* </label>
                              <input
                                id="city"
                                placeholder="Enter City"
                                class="form-control form-control-lg"/>
                            </div>
                          </div>
                          <div class="row_full">
                            <div class="form-group" >
                              <label for="date">State/Province</label>
                              <input
                                id="date"
                                placeholder="Enter State or Province"
                                class="form-control form-control-lg"/>
                              <span class="field-error"
                                   >Field is required!</span>
                              <span class="field-error"
                                    >serverErrors.dateOfBirth</span>
                            </div>
                          </div>
                          
                        </div>
                        <div class="row">
                          <div class="row_full" >
                            <div class="form-group" >
                              <label for="adress">Street Address*</label>
                              <input
                                id="adress"
                              
                                
                                placeholder="Enter Street Address"
                                class="form-control form-control-lg"
                                iput type="tel"/>
                              <span class="field-error"
                                   >Field is required!</span>
                              <span class="field-error"
                                   >serverErrors.phoneNumber</span>
                            </div>
                          </div>
                          <div class="row_full" >
                              <div class="form-group" >
                                  <label for="suite">Appartment/Suite</label>
                                  <input
                                    id="suite"
                                    
                                    placeholder="Enter Appartment or Suite"
                                    class="form-control form-control-lg"
                                    iput type="tel"/>
                                  <span class="field-error"
                                       >Field is required!</span>
                                  <span class="field-error"
                                       >serverErrors.phoneNumber</span>
                                </div>
                          </div>
                          
                        </div>
                        <span class="cont_line "></span>
                      </div>
                    </div>
          
                      <div class="main-separator"></div>
          
                    
                      <div  class="buttom_ ">
                        <div  class="buttom_btn " >
                          <input type="submit" value="SEND TO VERIFICATION">
                        </div>
                        <div class="buttom__line"></div>
                      </div>
                      
              
              </div>
          
          
            </form>
          </div>
          
    </div>
    </div>






