<div class="cont_" >
  <div class="top-bar">
    <div [ngClass]="{'icon-Group-810': nav_see,'icon-Group-811': !nav_see, 'icon_nav':true }" (click)="see_nav()" ></div>
    <div class="top-bar__title">
        
          <img src="../../../assets/svg/logo.png" alt="Logo">
        
    </div>
    <div class="top-bar__right">
      <div class="user-name">
        {{ currentUser.firstName + ' ' + currentUser.lastName }}
        <span>
         {{ currentUser.essence }}
        </span>
      </div>
      <div class="user-img">MS</div> 
      <img src="../../../assets/svg/Path 373.svg" [ngClass]="{ 'transform':log_out_see} " 
       (click)="see_log_out()">
      <div [ngClass]="{'top-bar__right_log':true , 'see':log_out_see} ">
        <div class="icon-Path-509ф"  ></div>
        <div>Log Out      </div>
      </div>
    </div>
    
  </div>
  <div [ngClass]="{'menu_':true,'active' : nav_see } " >
      <div [ngClass]="{'main-sidebar':true , 'active' : nav_see } ">
          <app-item></app-item>
          <div class='main-sidebar_bottom' >
            <p>ICO support by</p>
            <img src="../../../assets/svg/Group 262.svg" alt="Applicature">
          </div>
      </div>
  </div>
  </div> 
  