@import "./../../../assets/variables";
@import './../../../assets/fonts.scss';
@import '../../../assets/style.scss';
.cont_{
  position: relative;
  min-height: 100vh;

.top-bar {
  padding-left: 50px;
  height: 50px;
  background: $t_whi;
  box-shadow:$b_shodw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  position: relative;

  @media #{$tablet} {
    height: 66px;
  }

  @media #{$desktop-sm} {
    padding-left: 20px;

  }
 

  .icon_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: inherit;
    position: absolute;
    cursor: pointer;
    font-size: 17px;
   
     left: 0px;
    font-size: 20px;
    @media #{$desktop-sm} {
   display: none;
    }
  }
  &__toggle {
    position: absolute;
    width: 18px;
    height: 19px;
    border-top: 3px solid $t_blavk;
    border-bottom: 3px solid $t_blavk;
    left: 20px;
    top: 50%;
    margin-top: -10px;

    &.active {
      border: 0;

      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

    @media #{$desktop-sm} {
      display: none;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 3px;
      margin: -2px 0 0 -9px;
      background: $t_blavk;

      @media #{$tablet} {
        margin-top: -1px;
      }
    }
  }

  &__title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media #{$tablet} {
       justify-content: flex-start;
      }
    img{
     
    }
  }

  &__right {
    height: 100%;

    text-align: right;
    color: $t_blavk;
    line-height: 1.4em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    .user-name {
      display: none;
      width: 120px;
      font-size: $t_mid_xs;
      font-family: Montserrat_Regular;
      color: $t_blavk;
        @media #{$phone-lg} {
            display: block;
            width: 180px;
        }

      span {
        display: block;
        font-size:  $t_mid_xs - 3;
        line-height: 1.2em;
        color: $t_text;
        font-family: Montserrat_Regular;
      }
    }


    .user-img {
      width: 32px;
      height: 32px;
      text-align: center;
      text-transform: uppercase;
      background:$b_blue;
      border-radius: 50%;
      color: $t_whi;
      line-height: 32px;
      font-size:  $t_mid_xs ;
      margin:0 0px 0 10px ;
      
    }
    img{
       width: 32px;
       height: 32px;
       padding: 10px;
       cursor: pointer;
      
       transition-duration: 0.4s;
    }
    .transform{
      transform: rotate(180deg);
      transition-duration: 0.4s;
    }
    &_log{
        display: none;
        align-items: center;
        justify-content: center;
        width: 183px;
        height: 50px;
        background-color: $t_whi;
        position: absolute;
        right: -7px;
        top:50px;
        border: 1px solid $b_bor;
        font-size: $t_mid_xs;
        color: $t_text;
        font-family: Montserrat_Regular;
        transition-duration: 0.4s;
        cursor: pointer;
        @media #{$tablet} {
            top:66px;
            width: 283px;
          }

         div{
             margin-left: 10px;
         }
         &:hover{
           div:nth-of-type(1){
            background: $l_g;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
           }
         }
    }
    .see{
      display: flex;
      transition-duration: 0.4s;
    }
  }
}

 
  

  }
  

.menu_{
display: none;
position: relative;
min-height: calc(100vh - 50px);
@media #{$tablet} {
  min-height: calc(100vh - 66px);
}
@media #{$desktop-sm} {
  display: none;
}
left: 0px;
top:0px;
background-color: rgba(197, 253, 255, 0.4);
  .main-sidebar{
    display: block;
    top: 0px;
    left: 0;
    bottom: 0;
    background: $b_whi;
    width: 200px;
    position: absolute;
    box-shadow: $b_shodw;
    overflow: auto;
  z-index: 2;
    &.active {
      display: flex;
      overflow: auto;
    }
  
  
  
    &__logo {
      padding: 9px 20px 9px 20px;
      display: block;
      img {
        max-width: 100%;
      }
    }
    &_bottom{
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      left:20px;
      bottom: 17px;
     
      p{
        margin-bottom: 0;
        font-size: $min;
        font-family: Montserrat_Regular;      
        color:$t_grey;  
      }
      img{
        width: 56.5px;
        height: 9.53;
        margin-left: 7px;
      }
    }
   
  }
}

.active{
  display: block;
  @media #{$desktop-sm} {
    display: none;
  }
}
 .icon-Group-810, .icon-Group-811{
  &:hover{
    background: $l_g;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 } 
    
  
  
  
