
<div class="cont_" >
  <div class="top-bar">
    <h2 class="top-bar__title">
        
          <img src="../../../assets/svg/logo.png" alt="Logo">
        
    </h2>
    <div class="top-bar__right">
      <div class="user-name">
        Mike Smith
        <span>
          Administartor
        </span>
      </div>
      <div class="user-img">MS</div> 
      <img src="../../../assets/svg/Path 373.svg" alt="">
    </div>
    </div>
  
  
  
  
    <div class="main-sidebar">
        <a href="/" class="main-sidebar__logo">
          <img src="../../../assets/svg/logo.png" alt="Logo">
        </a>
        <div class="main-nav">
          <a routerLink="/dashboard" routerLinkActive="active" class="@@dashboard">
            <i class="icon-Path-444"></i>
            Dashboard
          </a>
          <a routerLink="/account" routerLinkActive="active" class="@@account">
            <i class="icon-Path-447"></i>
            Investors
          </a>
          <a routerLink="/account-balance" routerLinkActive="active" class="@@balance">
            <i class="icon-Path-450"></i>
            Transactions
          </a>
          <a routerLink="buysell" routerLinkActive="active" class="@@trade">
            <i class="icon-Path-452"></i>
            FQA
          </a>
    </div>
    <div class="main-sidebar_bottom" >
        <p>ICO support by</p>
         <img src="../../../assets/svg/Group 262.svg" alt="Applicature">
    </div>
  </div>
  <div class="menu" >
    <div  class="_verified" >
        <div class="table-responsive" >
          <table class="history-table table ">
              <thead>
                  <tr>
                    <th>Investor</th>
                    <th>Wallet</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Tokens</th>
                  
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>item.ID</td>
                    <td>+item.type</td>
                    <td>item.Wallet_ID</td>
                    <td>item.status</td>
                    <td>item.data</td>
                    
                  </tr>
                  <tr id="first" ></tr>
                  <tr>
                      <td>item.ID</td>
                      <td>+item.type</td>
                      <td>item.Wallet_ID</td>
                      <td>item.status</td>
                      <td>item.data</td>
                    
                    </tr>
                    <tr id="first" ></tr>
                    <tr>
                        <td>item.ID</td>
                        <td>+item.type</td>
                        <td>item.Wallet_ID</td>
                        <td>item.status</td>
                        <td>item.data</td>
                      
                      </tr>
                      <tr id="first" ></tr>
                      <tr>
                          <td>item.ID</td>
                          <td>+item.type</td>
                          <td>item.Wallet_ID</td>
                          <td>item.status</td>
                          <td>item.data</td>
                        
                        </tr>
                        <tr id="first" ></tr>
                        <tr id="last">
                            <td>item.ID</td>
                            <td>+item.type</td>
                            <td>item.Wallet_ID</td>
                            <td>item.status</td>
                            <td>item.data</td>
                          
                          </tr>
                          
                  </tbody>

          </table>
        </div>
      </div> 
  </div>
  
  </div>