@import '../../../assets/variables';
@import '../../../assets/style.scss';
@import '../../../assets/fonts.scss';

.header{
    width: 100%;
    height: 66px;
    background-color: $b_whi;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-shadow: $b_shodw;
}
.containere{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    min-height: 100vh;
    padding: 40px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media #{$tablet} {
        flex-direction: row;
        align-items: flex-start;
    }
          &_left{
            width: 100%;
            min-width: 320px;
            .login_{
               width: 100hv;
                height: 330px;
                border-radius:3px 3px 0 0;
                box-shadow: 0 0  7px 0 grey;
                    &name{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 68px;
                        background-color: $b_l_grey;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                            div{
                                font-family: Montserrat_Regular;
                                color:$t_blavk;
                                font-size: $t_mid;
                            }
                    }
                    &box{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        background-color: $b_whi;
                        padding: 20px 30px 20px 30px;
                        height:calc(100% - 71px) ;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                            &_text{
                                font-family: Montserrat_Regular;
                                font-size: $t_mid_s;
                                text-align: center;
                                color:$t_text;
                            }
                             &_pass {
                                 width: 270px;
                                 height: 40px;
                                color: $t_mid_s !important;
                                font-family: Montserrat_Regular;
                                font-size: $t_mid_xs !important;
                            }
                            input::placeholder{
                                color:$t_grey;
                            }
                     
                            &_bottom{
                                display: flex;
                                align-items: center;
                                    input{
                                        width: 260px;
                                        height: 40px;
                                        background:$l_g;
                                        border: 0;
                                        border-radius: 5px;
                                        color: $t_whi;
                                        text-transform: uppercase;
                                        margin-bottom: 20px;
                                    }
                                    input::placeholder{
                                        color:$t_grey;
                                    }
                            }
                    }
                    &bottom{
                        width: 100%;
                        height: 3px;
                        background: $l_g;
                    }  
            }
            
          }
          &_right{
             
              margin: 20px 0 0 0;
              @media #{$tablet} {
                margin: 0 0 0 20px;
               
              }
            .login_{
                width: 320px;
                height: 278px;
                border-radius: 3px;
                box-shadow: 0 0  7px 0 grey;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: stretch;
                    &name{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 68px;
                        background-color: $b_l_grey;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                            div{
                                font-family: Montserrat_Regular;
                                color:$t_blavk;
                                font-size: $t_mid;
                            }
                    }
                    &box{
                       display: flex;
                       flex-direction: column;
                       justify-content: space-around;
                        background-color: $b_whi;
                        padding: 20px 30px 20px 30px;
                        height: 210px;
                            &_email, &_pass {
                                border: 1px solid $ib_l_grey !important;
                                color: $t_mid_s !important;
                                font-family: Montserrat_Regular;
                                font-size:$t_mid_s!important;
                            }
                            input::placeholder{
                                color:$t_grey;
                            }
                            &_bottom{
                                display: flex;
                                align-items: center;
                                    input{
                                        width: 1270px;
                                        height: 40px;
                                        background:$l_g;
                                        border: 0;
                                        border-radius: 5px;
                                        color: $t_whi;
                                        text-transform: uppercase;
                                    }
                                 
                            }
                    }
                   
            }
          
          }  
        
}
