<div class="header">
  
  <img src="../../../assets/svg/logo.png" alt="Logo">
</div>
<div class="containere">
  
    <div class="containere_left">
      <form class="login_" > 
        <div class="login_name">
          <div>Password retrieval</div>
        </div>
        <div class="login_box">
               <p class="login_box_text" >We appreciate your interest in the CoinSpark Token Sale. <br>
                 To participate please log in or create an account.</p>
              <div class="form-group ">
                <input type="text" class="form-control login_box_pass" placeholder="Enter your Middle Name" >
              </div>
              <div class="login_box_bottom">
                <input type="submit" value="RESET YOUR PASSWORD" >
              </div>
        </div>
        <div class="login_bottom"> </div>
      </form>
      
    </div>
    <div class="containere_right">
      <form class="login_" > 
        <div class="login_name">
          <div>Log in</div>
        </div>
        <div class="login_box">
            <div class="form-group ">
                <input type="email" class="form-control login_box_email"  placeholder="login">
              </div>
              <div class="form-group ">
                <input type="password" class="form-control login_box_pass" placeholder="password" >
              </div>
              <div class="login_box_bottom">
                <input type="submit" value="Login" >
              </div>
        </div>
      </form>
      
    </div>
    
</div>
