

<div class="cont_" >
    <div class="top-bar">
      <div class="top-bar__title">
          
            <img src="../../../assets/svg/logo.png" alt="Logo">
          
      </div>
      <div class="top-bar__right">
        <div class="user-name">
          Mike Smith
          <span>
            Verified
          </span>
        </div>
        <div class="user-img">MS</div> 
        <img src="../../../assets/svg/Path 373.svg" alt="">
      </div>
      </div>
    
    
    
    
      <div class="main-sidebar">
          <a href="/" class="main-sidebar__logo">
            <img src="../../../assets/svg/logo.png" alt="Logo">
          </a>
          <div class="main-nav">
            <a routerLink="/dashboard" routerLinkActive="active" class="@@dashboard">
              <i class="icon-Path-444"></i>
              Dashboard
            </a>
            <a routerLink="/account" routerLinkActive="active" class="@@account">
              <i class="icon-Path-443"></i>
              Contribution
            </a>
            <a routerLink="/account" routerLinkActive="active" class="@@account">
              <i class="icon-Path-447"></i>
              Verification
            </a>
            <a routerLink="/account-balance" routerLinkActive="active" class="@@balance">
              <i class="icon-Path-450"></i>
              Transactions
            </a>
            <a routerLink="buysell" routerLinkActive="active" class="@@trade">
              <i class="icon-Path-452"></i>
              FQA
            </a>
      </div>
      <div class="main-sidebar_bottom" >
          <p>ICO support by</p>
           <img src="../../../assets/svg/Group 262.svg" alt="Applicature">
      </div>
    </div>
    
    <div class="menu" >
       
    
            <div class="menu_left">
              <div class="login_" > 
                <div class="login_name">
                  <div>Transfer 0.0083334 ETH</div>
                </div>
                <div class="login_box">
                      <p class="login_box_text" >Please send 0.0083334 ETH to the following address from a supported <br> wallet (which wallets are supported)                        </p>
                      
                      <div class="login_box_three container table-responsive">
                        <div class="login_box_three_i"> 
                          <p>ETH Address</p>
                          <div class="login_box_three_i_box ">
                           <div> 0xd39650594a8996bc7110393abba3280592ff663"</div>
                            <div class="icon-copy2" ></div>
                          </div>
                        </div>
                        <div class="login_box_three_i" > 
                          <p>Additional Data (you can specify this in the transfer)</p>
                          <div class="login_box_three_i_box">
                            <div>7d048bbd1b249bbc3d4b7faa6543921c55218f7670bed1ec914f</div>
                            <div class="icon-copy2" ></div>
                          </div>
                        </div>
                      </div>
                      <div class="login_box_bottom">
                          <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value2" >
                          <label for="styled-checkbox-2">I have completed the transaction</label>
                      
                        
                      </div>
                    
                      <div class="login_box_btn">
                         <input type="submit" value="CONTINUE" >
                      </div>
                      <div class="login_box_twobtn">
                        <input class="login_box_btn_b" type="submit" value="CONTINUE" disabled >
                     </div>
                </div>
                
                <div class="login_bottom"> </div>
              </div>
              
            </div>
         
    </div>
    </div>