


   @import '../../../assets/variables';
   @import '../../../assets/style.scss';
   @import '../../../assets/fonts.scss';
.cont_{
  position: relative;
  min-height: 100vh;

.top-bar {
  padding-left: 100px;
  height: 50px;
  background: $t_whi;
  box-shadow:$b_shodw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: relative;

  @media #{$tablet} {
  padding-left: 50px;
  height: 66px;
  }

  @media #{$desktop-sm} {
    padding-left: 20px;

  }

  &__toggle {
    position: absolute;
    width: 18px;
    height: 19px;
    border-top: 3px solid $t_blavk;
    border-bottom: 3px solid $t_blavk;
    left: 20px;
    top: 50%;
    margin-top: -10px;

    &.active {
      border: 0;

      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

    @media #{$desktop-sm} {
      display: none;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 3px;
      margin: -2px 0 0 -9px;
      background: $t_blavk;

      @media #{$tablet} {
        margin-top: -1px;
      }
    }
  }

  &__title {
    
    img{
      width: 100%;
    }
  }

  &__right {
    height: 100%;
    text-align: right;
    color: $t_blavk;
    line-height: 1.4em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .user-name {
      display: none;
      font-size: $t_mid_xs;
      font-family: Montserrat_Regular;
      color: $t_blavk;
        @media #{$phone-lg} {
            display: block;
        }

      span {
        display: block;
        font-size:  $t_mid_xs - 3;
        line-height: 1.2em;
        color: $t_text;
        font-family: Montserrat_Regular;
      }
    }


    .user-img {
      width: 32px;
      height: 32px;
      text-align: center;
      text-transform: uppercase;
      background:$b_blue;
      border-radius: 50%;
      color: $t_whi;
      line-height: 32px;
      font-size:  $t_mid_xs ;
      margin:0 10px 0 10px ;
    }
    img{
      width: 12px;
      height: 12px;
      margin-right: 10px;
    }
    &_log{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 283px;
        height: 50px;
        background-color: $t_whi;
        position: absolute;
        right: 0;
        top:50px;
        border: 1px solid $b_bor;
        font-size: $t_mid_xs;
        color: $t_text;
        font-family: Montserrat_Regular;

        @media #{$tablet} {
            top:66px;
          }
          &:hover{
            
            i{
                background: $l_g;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
            }
           
         }
         div{
             margin-left: 10px;
            color:$t_blavk;
         }
       
    }
  }
}
.main-sidebar {
    top: 60px;
    left: 0;
    bottom: 0;
    z-index: 5;
    background: $b_whi;
    width: 200px;
    position: absolute;
    box-shadow: $b_shodw;
    margin-left: -200px;
    overflow: hidden;
  
    &.active {
      margin-left: 0;
      overflow: auto;
    }
  
    @media #{$tablet} {
      top: 80px;
    }
  
    @media #{$desktop-sm} {
      top: 0;
      overflow: auto;
      margin-left: 0;
    }
  
    &__logo {
      padding: 9px 20px 9px 20px;
      display: block;
      img {
        max-width: 100%;
      }
    }
    &_bottom{
      display: none;
      align-items: center;
      justify-content: center;
      position: fixed;
      left:20px;
      bottom: 17px;
      @media #{$desktop-sm} {
        display: flex;
      }
      p{
        margin-bottom: 0;
        font-size: $min;
        font-family: Montserrat_Regular;      
        color:$t_grey;  
      }
      img{
        width: 56.5px;
        height: 9.53;
        margin-left: 7px;
      }
    }
  }
  
  .main-nav {
    padding-top: 21px;
  
    a {
      display: flex;
      align-items: center;
      display: block;
      height: 68px;
      line-height: 50px;
      text-decoration: none;
      font-size: $t_mid_xs;
      color:$t_blavk;
      padding-left: 60px;
      position: relative;
      font-family: Montserrat_Regular;
      padding-top: 10px;
      
      &:hover {
        color: $t_blavk;
        background-color: $b_body;
        i{
          background: $l_g;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
  
      i {
        position: absolute;
        left: 37px;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 23px;
      }
    }
  }
    a.last-menu-item {
      margin-top: 31px;
      font-size: $font-size-default - 2;
  
      &:before {
        content: "";
        display: block;
        height: 1px;
        width: auto;
        background: $color-them-dark-alt;
        left: 15px;
        right: 15px;
        top: -16px;
        position: absolute;
      }
    }
  
    .active {
      color: $color-gold;
      border-left: 3px solid $color-gold;
      background: rgba($color-white, .1);
    }
      .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
    
    @media #{$phone-lg} {
        
        padding: 20px 20px 20px 20px;
    }
    @media #{$tablet} {
        
        padding: 30px 30px 30px 30px;
    }
    @media #{$desktop-sm} {
        
        padding: 30px 30px 30px 230px;
    }

    @media #{$desktop-md} {
        
      padding: 30px 30px 30px 230px;
  }
    

              &_left{
                width: 100%;
                min-width: 320px;
                max-width: 780px;
                .login_{
                   width: 100hv;
                    border-radius:3px 3px 0 0;
                    box-shadow: 0 0  7px 0 grey;
                        &name{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 68px;
                            background-color: $b_l_grey;
                            border-top-left-radius: 3px;
                            border-top-right-radius: 3px;
                                div{
                                    font-family: Montserrat_Regular;
                                    color:$t_blavk;
                                    font-size: $t_mid;
                                }
                        }
                        &box{
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            background-color: $b_whi;
                            padding: 20px 30px 20px 30px;
                            height:calc(100% - 71px) ;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            input[type=text]{
                                height: 40px;
                                border-radius: 5px; 
                            
                                border:0.5px solid rgba($t_grey,0.4 );
                                font-family: Montserrat_Regular;
    
                                &::placeholder{
                                    text-align: center;
                                    color:$t_blavk !important;
    
                                }
                            }
                            .margin{
                                margin: 15px;
                            }
                                &_text{
                                    font-family: Montserrat_Regular;
                                    font-size: $t_mid_s;
                                    text-align: center;
                                    color:$t_text;
                                    margin-bottom: 0;
                                    margin: 20px;
                                    line-height:20px;
                                }
                                &_three{
                               
                                    display: flex;
                                    flex-direction: column;
                                    align-content: stretch;
                                    background-color: $b_body;
                                
                                    @media #{$tablet} {
                                      width: 520px;
                                       
                                    }
                                    @media #{$desktop-sm} {
                                      width: 520px;
                                       
                                    }
                                    
                                        &_i{
                                           
                                           min-width:450px;
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            padding: 20px;
                                            @media #{$tablet} {
                                              align-items: center;
                                               
                                            }
                                          
                                            p{
                                            
                                                font-family: Montserrat_Regular;
                                                font-size: $t_mid_s;
                                                color:$t_grey;
                                                margin-bottom: 0;
                                            }
                                            &_box{
                                                display: flex;
                                                flex-direction: row;
                                              
                                                justify-content: center;
                                               min-width: 470px;
                                              
                                              
                                                div:nth-of-type(1){
                                                
                                                    font-family: Montserrat_Regular;
                                                    font-size: $t_mid_xs;
                                                    color: $t_blue !important;
                                                    @media #{$tablet} {
        
                                                      font-size: $t_mid_s;
                                                  }
                                                 
                                                }
                                                .icon-copy2{
                                                    margin-left:10px;
                                                    margin-top:3px;
                                                    margin-right: 10px;
                                                }
                                            }
                                        }
                                }
                         
                                &_btn{
                                    display: flex;
                                    padding-bottom: 0px;
                                    justify-content: center;
                                        input{
                                            font-family: Montserrat_Regular;
                                            width: 270px;
                                            height: 40px;
                                            background:$l_g;
                                            border: 0;
                                            border-radius: 5px;
                                            color: $t_whi;
                                            text-transform: uppercase;
                                            margin-bottom: 10px;
                                        }
                                        @media #{$tablet} {
                                            padding-bottom: 10px;
                                        }
                                        
                                }
                            &_twobtn{
                              display: flex;
                                    padding-bottom: 0px;
                                    justify-content: center;
                                        input{
                                            font-family: Montserrat_Regular;
                                            width: 270px;
                                            height: 40px;
                                            background-color: $b_body;
                                            border: 0;
                                            border-radius: 5px;
                                            color: $t_text;
                                            text-transform: uppercase;
                                            margin-bottom: 10px;
                                        }
                                        @media #{$tablet} {
                                            padding-bottom: 10px;
                                        }
                            }
                              
                        }
                   
                        &bottom{
                            width: 100%;
                            height: 3px;
                            background: $l_g;
                        }  
                }
                
              }
            
    
    
    



}



  }
  

  
  .login_box_bottom{
                   padding: 20px;
    .styled-checkbox {
        position: absolute; 
        opacity: 0; 
    
        & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
        color:$t_grey;
        margin-bottom: 10px;
        font-size: $t_mid_s;
        font-family: Montserrat_Regular;
        
        }
    
    
        & + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 5px;
        box-shadow: 0 0  6px 0 rgba(0, 0, 0, 0.2);
        }
    
    
        &:hover + label:before {
        background: #25AFB4;
      
        border-radius: 5px;
        }
        
    
        &:focus + label:before {
        box-shadow: 0 0  6px 0 rgba(0, 0, 0, 0.2);
        }
    
    
        &:checked + label:before {
        background: #25AFB4;
        }
        
    
        &:disabled + label {
        color:white;
        cursor: auto;
        }
    
    
        &:disabled + label:before {
        box-shadow: none;
        background: white;
        }
    
        &:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 11px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
        transform: rotate(45deg);
        }
      label{
          text-align: center;
      }
}
}