


<div class="cont_" >
    <div class="top-bar">
      <div class="top-bar__title">
          
            <img src="../../../assets/svg/logo.png" alt="Logo">
          
      </div>
      <div class="top-bar__right">
        <div class="user-name">
          Mike Smith
          <span>
            Verified
          </span>
        </div>
        <div class="user-img">MS</div> 
        <img src="../../../assets/svg/Path 373.svg" alt="">
      </div>
      </div>
    
    
    
    
      <div class="main-sidebar">
          <a href="/" class="main-sidebar__logo">
            <img src="../../../assets/svg/logo.png" alt="Logo">
          </a>
          <div class="main-nav">
            <a routerLink="/dashboard" routerLinkActive="active" class="@@dashboard">
              <i class="icon-Path-444"></i>
              Dashboard
            </a>
            <a routerLink="/account" routerLinkActive="active" class="@@account">
              <i class="icon-Path-443"></i>
              Contribution
            </a>
            <a routerLink="/account" routerLinkActive="active" class="@@account">
              <i class="icon-Path-447"></i>
              Verification
            </a>
            <a routerLink="/account-balance" routerLinkActive="active" class="@@balance">
              <i class="icon-Path-450"></i>
              Transactions
            </a>
            <a routerLink="buysell" routerLinkActive="active" class="@@trade">
              <i class="icon-Path-452"></i>
              FQA
            </a>
      </div>
      <div class="main-sidebar_bottom" >
          <p>ICO support by</p>
           <img src="../../../assets/svg/Group 262.svg" alt="Applicature">
      </div>
    </div>
    <div class="header_" >
        0.0083334 ETH transfer Received  
    </div>
    <div class="container" >
       
        <div class="container_" >
          <div class="container_icon icon-Path-439" ></div>
          <p>We have received your transfer of 0.0083334 ETH and your account <br> is fully verified. 
             You will receive 20 SPARK tokens in this account.</p>
           
           <div class="container_btn">
              <input type="submit" value="ok" >
           </div> 
               <div class="container_bottom"> </div>
        </div>
    
         
    </div>
    </div>