
<!-- <div class="menu_left" >

</div> -->
<!-- <div class="menu_right" >
  <div></div>
  <div></div>
</div> -->



<div class="cont_" >
    <div class="top-bar">
      <h2 class="top-bar__title">
          
            <img src="../../../assets/svg/logo.png" alt="Logo">
          
      </h2>
      <div class="top-bar__right">
        <div class="user-name">
          Mike Smith
          <span>
            Verified
          </span>
        </div>
        <div class="user-img">MS</div> 
        <img src="../../../assets/svg/Path 373.svg" alt="">
      </div>
      </div>
    
    
    
    
      <div class="main-sidebar">
          <a href="/" class="main-sidebar__logo">
            <img src="../../../assets/svg/logo.png" alt="Logo">
          </a>
          <div class="main-nav">
            <a routerLink="/dashboard" routerLinkActive="active" class="@@dashboard">
              <i class="icon-Path-444"></i>
              Dashboard
            </a>
            <a routerLink="/account" routerLinkActive="active" class="@@account">
              <i class="icon-Path-443"></i>
              Contribution
            </a>
            <a routerLink="/account" routerLinkActive="active" class="@@account">
              <i class="icon-Path-447"></i>
              Verification
            </a>
            <a routerLink="/account-balance" routerLinkActive="active" class="@@balance">
              <i class="icon-Path-450"></i>
              Transactions
            </a>
            <a routerLink="buysell" routerLinkActive="active" class="@@trade">
              <i class="icon-Path-452"></i>
              FQA
            </a>
      </div>
      <div class="main-sidebar_bottom" >
          <p>ICO support by</p>
           <img src="../../../assets/svg/Group 262.svg" alt="Applicature">
      </div>
    </div>
    
    <div class="menu" >
        <div class="containere">
  
            <div class="containere_left">
              <div class="login_" > 
                <div class="login_name">
                  <div>SPARK Token Sale</div>
                </div>
                <div class="login_box">
      
                     <div  class="login_box_left" >
                        
                       <div class="login_box_left_cont" >
                    <div style="width:70%"></div>
                    <div style="width:95%"></div>
                    <div style="width:67%"></div>
                    <div style="width:80%"></div>
                    <div style="width:50%"></div>
                    
                       </div>
                       <div class="login_box_bottom">
                        <input type="submit" value="BUY SPARK" >
                      </div>
                     </div>
                     <div class="login_box_right">
                      <div class="progress-bar"  >
                        <div>
                          <p>ending in</p>
                          <p> <span>12</span>D <span>14</span>H <span>25</span>M <span>01</span>S</p>
                        </div>
                        <svg class="iconCircle" viewBox="0 0 200 200">
                          <circle r="90" cx="100" cy="100" fill="none" stroke="#EDEDED" stroke-width="4px"></circle>
                          <circle r="90" cx="100" cy="100" fill="none" transform="rotate(270, 100, 100)"
                            style="animation-name: drawcircle; animation-duration: 3s; animation-fill-mode: forwards; stroke-dasharray: 565.49px; stroke: currentColor"
                             stroke-width="4px">
                          </circle>
                        </svg>
                      </div>
                     </div>
                     
                </div>
                <div class="login_bottom"> </div>
              </div>
              
            </div>
            <div class="containere_right">
              <div class="one_" > 
                <div class="one_name">
                  <div>Your Balance </div>
                </div>
                <div class="one_box">
                    <div class="one_box_bit_p" >
                      534 SPARK
                 </div>
                  
                </div>
              </div>
              <div class="two_" > 
                <div class="two_name">
                  <div>Price</div>
                </div>
                <div class="two_box">
                   <div class="two_box_bit" > 
                     <div class="two_box_bit_icon icon-Path-469" ></div>
                     <div class="two_box_bit_p" > : 300 SPARK / <span>BTC</span></div>
                   </div>
                   <div class="two_box_bit" > 
                     <div class="two_box_bit_icon icon-Path-468" ></div>
                     <div class="two_box_bit_p" > : 300 SPARK / <span>LTC</span></div>
                   </div>
                   <div class="two_box_bit" > 
                     <div class="two_box_bit_icon icon-Path-467" ></div>
                     <div class="two_box_bit_p" > : 300 SPARK / <span>ETH</span></div>
                   </div>
                </div>
              </div>
            </div>
            
        </div>
    </div>
    </div>