
@import '../../../assets/variables';
@import '../../../assets/style.scss';
@import '../../../assets/fonts.scss';

















.cont_{
    position: relative;
    min-height: 100vh;
  
  .top-bar {
    padding-left: 50px;
    height: 50px;
    background: $t_whi;
    box-shadow:$b_shodw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: relative;
  
    @media #{$tablet} {
      height: 66px;
    }
  
    @media #{$desktop-sm} {
      padding-left: 20px;
  
    }
  
    &__toggle {
      position: absolute;
      width: 18px;
      height: 19px;
      border-top: 3px solid $t_blavk;
      border-bottom: 3px solid $t_blavk;
      left: 20px;
      top: 50%;
      margin-top: -10px;
  
      &.active {
        border: 0;
  
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
  
      @media #{$desktop-sm} {
        display: none;
      }
  
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 3px;
        margin: -2px 0 0 -9px;
        background: $t_blavk;
  
        @media #{$tablet} {
          margin-top: -1px;
        }
      }
    }
  
    &__title {
      img{
        width: 100%;
      }
    }
  
    &__right {
      height: 100%;
      text-align: right;
      color: $t_blavk;
      line-height: 1.4em;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .user-name {
        display: none;
        font-size: $t_mid_xs;
        font-family: Montserrat_Regular;
        color: $t_blavk;
          @media #{$phone} {
              display: block;
          }
  
        span {
          display: block;
          font-size:  $t_mid_xs - 3;
          line-height: 1.2em;
          color: $t_text;
          font-family: Montserrat_Regular;
        }
      }
  
  
      .user-img {
        width: 32px;
        height: 32px;
        text-align: center;
        text-transform: uppercase;
        background:$b_blue;
        border-radius: 50%;
        color: $t_whi;
        line-height: 32px;
        font-size:  $t_mid_xs ;
        margin:0 10px 0 10px ;
      }
      img{
         width: 12px;
         height: 12px;
         margin-right: 10px;
      }
      &_log{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 283px;
          height: 50px;
          background-color: $t_whi;
          position: absolute;
          right: 0;
          top:50px;
          border: 1px solid $b_bor;
          font-size: $t_mid_xs;
          color: $t_text;
          font-family: Montserrat_Regular;
  
          @media #{$tablet} {
              top:66px;
            }
            &:hover{
              
              i{
                  background: $l_g;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent; 
              }
             
           }
           div{
               margin-left: 10px;
              color:$t_blavk;
           }
         
      }
    }
  }
  .main-sidebar {
      top: 60px;
      left: 0;
      bottom: 0;
      z-index: 5;
      background: $b_whi;
      width: 200px;
      position: absolute;
      box-shadow: $b_shodw;
      margin-left: -200px;
      overflow: hidden;
    
      &.active {
        margin-left: 0;
        overflow: auto;
      }
    
      @media #{$tablet} {
        top: 80px;
      }
    
      @media #{$desktop-sm} {
        top: 0;
        overflow: auto;
        margin-left: 0;
      }
    
      &__logo {
        padding: 9px 20px 9px 20px;
        display: block;
        img {
          max-width: 100%;
        }
      }
      &_bottom{
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        left:20px;
        bottom: 17px;
        @media #{$desktop-sm} {
          display: flex;
        }
        p{
          margin-bottom: 0;
          font-size: $min;
          font-family: Montserrat_Regular;      
          color:$t_grey;  
        }
        img{
          width: 56.5px;
          height: 9.53;
          margin-left: 7px;
        }
      }
    }
    
    .main-nav {
      padding-top: 21px;
    
      a {
        display: flex;
        align-items: center;
        display: block;
        height: 68px;
        line-height: 50px;
        text-decoration: none;
        font-size: $t_mid_xs;
        color:$t_blavk;
        padding-left: 60px;
        position: relative;
        font-family: Montserrat_Regular;
        padding-top: 10px;
        
        &:hover {
          color: $t_blavk;
          background-color: $b_body;
          i{
            background: $l_g;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
    
        i {
          position: absolute;
          left: 37px;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 23px;
        }
      }
    }
      a.last-menu-item {
        margin-top: 31px;
        font-size: $font-size-default - 2;
    
        &:before {
          content: "";
          display: block;
          height: 1px;
          width: auto;
          background: $color-them-dark-alt;
          left: 15px;
          right: 15px;
          top: -16px;
          position: absolute;
        }
      }
    
      .active {
        color: $color-gold;
        border-left: 3px solid $color-gold;
        background: rgba($color-white, .1);
      }
        .menu{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
     
      
      @media #{$phone-lg} {
          
          padding: 20px 20px 20px 20px;
      }
      @media #{$tablet} {
          
          padding: 30px 30px 30px 30px;
      }
      @media #{$desktop-sm} {
          
          padding: 30px 40px 30px 230px;
      }
  
    
      .containere{
        display: flex;
        align-content: stretch;
        
        justify-content:none;
        min-height: 100vh;
        
        box-sizing: border-box;
        flex-direction: column;
    
        align-items: center;
        
        flex-direction: column;
        @media #{$tablet} {
       
           
        }
        @media #{$desktop-sm} {
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            
          }
          @media #{$desktop-md} {
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: row;
            margin-bottom: 0px;
            
          }
              &_left{
                width: 100%;
                min-width: 320px;
                .login_{
                 
        
                    border-radius:3px 3px 0 0;
                    box-shadow: 0 0  7px 0 grey;
                        &name{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 68px;
                            background-color: $b_l_grey;
                            border-top-left-radius: 3px;
                            border-top-right-radius: 3px;
                                div{
                                    font-family: Montserrat_Regular;
                                    color:$t_blavk;
                                    font-size: $t_mid;
                                }
                        }
                        &box{
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            background-color: $b_whi;
                            padding: 20px 30px 20px 30px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-content: stretch;
                            @media #{$tablet} {
                                flex-direction: row;
                                padding: 40px 50px 40px 50px;
           
                            }
                            &_left{
                                width: 100%;
                                @media #{$tablet} {
                                   width: 60%;
               
                                }
                                &_cont{
                                    div{
                                        width: 10%;
                                        height: 14px;
                                        background-color: $b_bor;
                                        margin-bottom: 10px;
                                     
                                     
                                    }
                                }
                            }
                                
                              &_right{
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                .progress-bar {
                                   
                                    width: 195px;
                                    height: 195px;
                                    max-width: 100%;
                                    margin: -10px auto;
                                    background: none;
                                    color: $t_blue;
                                    position: relative;
                                    svg {
                                      width: 100%;
                                      height: 100%;
                                    }
                                    div{
                                        position: absolute;
                                        top:60px;
                                        left:25px;
                                        p{
                                            text-align: center;
                                            font-size: $t_mid;
                                            color: $t_text;
                                            span{
                                                color:$t_blue;
                                                font-size:20px;
                                            }
                                        }
                                    }
                                  }
                              }
                                &_bottom{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
                                    padding-top: 20px;
                                    @media #{$tablet} {
                                        padding-top: 30px;
                                    }
                                        input{
                                            width: 260px;
                                            height: 40px;
                                            background:$l_g;
                                            border: 0;
                                            border-radius: 5px;
                                            color: $t_whi;
                                            text-transform: uppercase;
                                           
                                        }
                                       
                                }
                        }
                        &bottom{
                            width: 100%;
                            height: 3px;
                            background: $l_g;
                        }  
                }
                
              }
              &_right{
                //   width: 100%;
                 display: flex;
                 flex-direction: column;
                  margin: 20px 0 0 0;
                  @media #{$tablet} {
                    margin: 20px 0 0 20px;
                 flex-direction: row;
                    
                  }
                  @media #{$desktop-sm} {
                    margin: 20px 0 0 20px;
                    flex-direction: row;
                    
                  }
                  @media #{$desktop-md} {
                    margin: 0 0 0 20px;
                    flex-direction: column;
                    
                  }
    
                .two_, .one_{
                    width: 320px;
                    border-radius: 3px;
                    box-shadow: 0 0  7px 0 grey;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-content: stretch;
                        &name{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 68px;
                            background-color: $b_l_grey;
                            border-top-left-radius: 3px;
                            border-top-right-radius: 3px;
                                div{
                                    font-family: Montserrat_Regular;
                                    color:$t_blavk;
                                    font-size: $t_mid;
                                }
                        }
                        &box{
                           display: flex;
                           flex-direction: column;
                           justify-content: space-around;
                            background-color: $b_whi;
                            padding: 20px 30px 20px 30px;
                           &_bit{
                               display: flex;
                               flex-direction: row;
                               
                       
                               margin: 10px;
                               &_icon{
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                   background: $l_g_t_;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent; 
                                   font-size: 24px;
                                   margin-right: 10px;
                               }
                               &_p{
                                font-family: Montserrat_Regular;                               
                                   color:$t_grey;
                                   font-size: $t_mid;
                                   span{
                                    font-family: Montserrat_Regular;                               
                                    color:$t_blue;
                                    font-size: $t_mid;
                                   }
                               }
                           }
                          
                         
                        }
                       
                }
                .one_{
                    max-height: 170px;
                    margin: 0 0  20px 0;
                    @media #{$tablet} {
                        margin: 0  20px 0 0;
                      }
                      @media #{$desktop-sm} {
                        margin: 0 20px 0 0;
                      }
                      @media #{$desktop-md} {
                        margin: 0 0 20px  0;
                      }
                    &box{
                             display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 102px;
                       
                    }
                }
              
              }  
            
    }
    
    
  

  
  }
  
  
  
    }
    
  
    
  