<div class="header">
  <img src="../../../assets/svg/logo.png" alt="Logo">
  </div>
  <div class="containere">
  
      <div class="containere_left">
        <div class="login_" > 
          <div class="login_name">
            <div>Check Your Email            </div>
          </div>
          <div class="login_box">
                 <p class="login_box_text" >We sent you an email with instructions to reset your password.                </p>
          </div>
          <div class="login_bottom"> </div>
        </div>
        
      </div>
      <div class="containere_right">
        <form class="login_" > 
          <div class="login_name">
            <div>Log in</div>
          </div>
          <div class="login_box">
              <div class="form-group ">
                  <input type="email" class="form-control login_box_email"  placeholder="login">
                </div>
                <div class="form-group ">
                  <input type="password" class="form-control login_box_pass" placeholder="password" >
                </div>
                <div class="login_box_bottom">
                  <input type="submit" value="Login" >
                </div>
          </div>
        </form>
        
      </div>
      
  </div>