

<div class="container ">

  <div class="container_menu">
    <div class="container_menu_header">
      <img src="../../../assets/svg/logo.png" alt="Logo">
    </div>
    <form class="login_" > 
        <div class="login_name">
          <div>Log in</div>
        </div>
        <div class="login_box">
            <div class="form-group ">
                <input type="email" class="form-control login_box_email"  placeholder="login">
              </div>
              <div class="form-group ">
                <input type="password" class="form-control login_box_pass" placeholder="password" >
              </div>
              <div class="login_box_bottom">
                <input type="submit" value="Login" >
                <div class="form-check">
                  <a href="#">Forgot Password</a>
                  
                </div>
              </div>
        </div>
     
      
    </form>
  </div>
</div>