@import '../../../assets/variables';
@import '../../../assets/style.scss';
@import '../../../assets/fonts.scss';

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
 
        &_menu{
            &_header{
                height: 60px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                img{
                    max-width: 100%;
                }
            }
            .login_{
                width: 320px;
                height: 278px;
                border-radius: 3px;
                box-shadow: 0 0  7px 0 grey;
                    &name{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 68px;
                        background-color: $b_l_grey;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                            div{
                                font-family: Montserrat_Regular;
                                color:$t_blavk;
                                font-size: $t_mid;
                            }
                    }
                    &box{
                        background-color: $b_whi;
                        padding: 20px 30px 20px 30px;
                        height: 210px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                            &_email, &_pass {
                                
                                color:$t_blavk !important;
                                font-family: Montserrat_Regular;
                                font-size: $t_mid_s !important;
                            }
                            input::placeholder{
                                color:$t_grey;
                            }
                            &_bottom{
                                display: flex;
                                align-items: center;
                                    input{
                                        width: 104px;
                                        height: 40px;
                                        background:$l_g;
                                        border: 0;
                                        border-radius: 5px;
                                        color: $t_whi;
                                        text-transform: uppercase;
                                    }
                                    div{
                                        font-family: Montserrat_Regular;
                                        font-size: $t_mid_s;
                                        color: $t_blue;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin-bottom: 0;
                                        padding-left: 20px;
                                    }
                            }
                    }
                   
            }
        }
        
}
