<div class="container list-group" >
  <a  class="list-group-item" routerLink="login">admin 2 login</a>
  <a  class="list-group-item" routerLink="retrieval">admin 3 Retrieval user -/- 16 - Password Retrieval</a>
  <a  class="list-group-item" routerLink="retrieval2">admin 4 - Resent Password user -/- 17- Password Sent </a>
  <a  class="list-group-item" routerLink="dashboard">Admin Screen 5- Dashboard </a>
  <a  class="list-group-item" routerLink="nav/admin">admin 6 Logout </a>
  <a  class="list-group-item" routerLink="investor">admin 7  Investors overview </a>
  <!-- <a  class="list-group-item" routerLink="screen8"> </a> -->
  <a  class="list-group-item" routerLink="investor/invalid">admin 8- Individual Investor,10-Individual Investor/Accredited Overview,11-Individual Investor/Blocked,12-ndividual Investor/Not Verified </a>
  <a  class="list-group-item" routerLink="verification">admin 9 verification </a>
  <a  class="list-group-item" routerLink="table">admin 13 - Transaction History </a>
  <a  class="list-group-item" routerLink="new/question">admin 14  FAQ Section</a>
  <a  class="list-group-item" routerLink="user/login"> user 15 login </a>
  <a  class="list-group-item" routerLink="registration"> user 18 Confirmation </a>
  <a  class="list-group-item" routerLink="user/nav">user 19 Logout</a>
  <a  class="list-group-item" routerLink="user/dashboard">user 20 Dashboard </a>
  <a  class="list-group-item" routerLink="user/started">user 21  Contribution Start </a>
  <a  class="list-group-item" routerLink="user/bay/spark">user   22 - Coin Calculator </a>
  <a  class="list-group-item" routerLink="user/funds/transfer">user    25 - Funds Transfer/Pending </a>
  <a  class="list-group-item" routerLink="user/sendconfirmation">user 24/23 - Send Funds/Confirmation </a>
  <a  class="list-group-item" routerLink="user/funds/received">user 26 - Funds Transfer/Received </a>
  <a  class="list-group-item" routerLink="user/verification/started">user  27 - Verfication/Start </a>
  <a  class="list-group-item" routerLink="user/data/entry">user 28 - Verfication/ Data Entry </a>
  <a  class="list-group-item" routerLink="user/verification/pending">user 29 - Verification/Pending </a>
  <a  class="list-group-item" routerLink="user/verification2ndstep">user  30 - Verification 2nd Step</a>
  <a  class="list-group-item" routerLink="user/and/step">user 31 - Verification 2nd Step Document Upload </a>
  <a  class="list-group-item" routerLink="user/account/conribution">user 32 - Verified Account/Conribution </a>
  <a  class="list-group-item" routerLink="user/unsuccessful">user 33 - Verification Unsuccessful</a>
  <a  class="list-group-item" routerLink="user/block">user 34 - Verification block user</a>
  <a  class="list-group-item" routerLink="user/transaction/history">user 35  Transaction History </a>
  <a  class="list-group-item" routerLink="user/faq">user 36  FAQ </a>


 
  
 


  

</div>
