@import '../../assets/fonts.scss';

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    .list-group-item{
      
        width: 900px;
       font-family: Montserrat_Regular;
       font-size: 20px;
    }
}