@import "./../../../assets/variables";
@import './../../../assets/fonts.scss';
@import '../../../assets/style.scss';

.header_{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: $l_g_t_;
    color:$t_whi;
    font-size: $t_mid;
    font-family: Montserrat_Regular;
    padding-left: none;
    @media #{$tablet} {
        height: 66px;
       
      }
      @media #{$desktop-sm} {
        
        padding-left: 200px;
      }
}



.cont_{
position: relative;
min-height: 100vh;

.top-bar {
padding-left: 100px;
height: 50px;
background: $t_whi;
box-shadow:$b_shodw;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 10;
position: relative;

@media #{$tablet} {
padding-left: 50px;
height: 66px;
}

@media #{$desktop-sm} {
 padding-left: 20px;

}

&__toggle {
 position: absolute;
 width: 18px;
 height: 19px;
 border-top: 3px solid $t_blavk;
 border-bottom: 3px solid $t_blavk;
 left: 20px;
 top: 50%;
 margin-top: -10px;

 &.active {
   border: 0;

   &:before {
     transform: rotate(45deg);
   }
   &:after {
     transform: rotate(-45deg);
   }
 }

 @media #{$desktop-sm} {
   display: none;
 }

 &:before,
 &:after {
   content: "";
   display: block;
   position: absolute;
   left: 50%;
   top: 50%;
   width: 100%;
   height: 3px;
   margin: -2px 0 0 -9px;
   background: $t_blavk;

   @media #{$tablet} {
     margin-top: -1px;
   }
 }
}

&__title {
 
 img{
   width: 100%;
 }
}

&__right {
 height: 100%;
 text-align: right;
 color: $t_blavk;
 line-height: 1.4em;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 .user-name {
   display: none;
   font-size: $t_mid_xs;
   font-family: Montserrat_Regular;
   color: $t_blavk;
     @media #{$phone-lg} {
         display: block;
     }

   span {
     display: block;
     font-size:  $t_mid_xs - 3;
     line-height: 1.2em;
     color: $t_text;
     font-family: Montserrat_Regular;
   }
 }


 .user-img {
   width: 32px;
   height: 32px;
   text-align: center;
   text-transform: uppercase;
   background:$b_blue;
   border-radius: 50%;
   color: $t_whi;
   line-height: 32px;
   font-size:  $t_mid_xs ;
   margin:0 10px 0 10px ;
 }
 img{
  width: 12px;
  height: 12px;
  margin-right: 10px;
 }
 &_log{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 283px;
     height: 50px;
     background-color: $t_whi;
     position: absolute;
     right: 0;
     top:50px;
     border: 1px solid $b_bor;
     font-size: $t_mid_xs;
     color: $t_text;
     font-family: Montserrat_Regular;

     @media #{$tablet} {
         top:66px;
       }
       &:hover{
         
         i{
             background: $l_g;
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent; 
         }
        
      }
      div{
          margin-left: 10px;
         color:$t_blavk;
      }
    
 }
}
}
.main-sidebar {
 top: 60px;
 left: 0;
 bottom: 0;
 z-index: 5;
 background: $b_whi;
 width: 200px;
 position: absolute;
 box-shadow: $b_shodw;
 margin-left: -200px;
 overflow: hidden;

 &.active {
   margin-left: 0;
   overflow: auto;
 }

 @media #{$tablet} {
   top: 80px;
 }

 @media #{$desktop-sm} {
   top: 0;
   overflow: auto;
   margin-left: 0;
 }

 &__logo {
   padding: 9px 20px 9px 20px;
   display: block;
   img {
     max-width: 100%;
   }
 }
 &_bottom{
   display: none;
   align-items: center;
   justify-content: center;
   position: fixed;
   left:20px;
   bottom: 17px;
   @media #{$desktop-sm} {
     display: flex;
   }
   p{
     margin-bottom: 0;
     font-size: $min;
     font-family: Montserrat_Regular;      
     color:$t_grey;  
   }
   img{
     width: 56.5px;
     height: 9.53;
     margin-left: 7px;
   }
 }
}

.main-nav {
 padding-top: 21px;

 a {
   display: flex;
   align-items: center;
   display: block;
   height: 68px;
   line-height: 50px;
   text-decoration: none;
   font-size: $t_mid_xs;
   color:$t_blavk;
   padding-left: 60px;
   position: relative;
   font-family: Montserrat_Regular;
   padding-top: 10px;
   
   &:hover {
     color: $t_blavk;
     background-color: $b_body;
     i{
       background: $l_g;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
     }
   }

   i {
     position: absolute;
     left: 37px;
     top: 50%;
     transform: translate(-50%, -50%);
     font-size: 23px;
   }
 }
}
 a.last-menu-item {
   margin-top: 31px;
   font-size: $font-size-default - 2;

   &:before {
     content: "";
     display: block;
     height: 1px;
     width: auto;
     background: $color-them-dark-alt;
     left: 15px;
     right: 15px;
     top: -16px;
     position: absolute;
   }
 }

 .active {
   color: $color-gold;
   border-left: 3px solid $color-gold;
   background: rgba($color-white, .1);
 }
   .container{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 10px;
 
 @media #{$phone-lg} {
     
     padding: 20px 20px 20px 20px;
 }
 @media #{$tablet} {
     
     padding: 30px 30px 30px 30px;
 }
 @media #{$desktop-sm} {
     
     padding: 30px 30px 30px 230px;
 }

 @media #{$desktop-md} {
     
    padding: 30px 30px 30px 230px;
}
 
 &_{
   width: 100%;
    background: $b_whi;
    box-shadow: $b_shodw;
  max-width: 780px;
    @media #{$tablet} {
      
       
      }
      @media #{$desktop-sm} {
      
           
          }
          &icon{
              display: flex;
              justify-content: center;
              font-size: 60px;
              background: $l_g_t;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
                margin: 40px;
                @media #{$tablet} {
                    margin: 60px;
                }     
          }
          p{
              text-align: center;
              font-size: $t_mid_xs;
              font-family: Montserrat_Regular;
              color:$t_text;
              padding: 0 20px 20px 20px ;
              margin-bottom: 0;
              @media #{$tablet} {
                font-size: $t_mid_s;
                padding: 0 40px 40px 40px  ;
              
                
            }  
            
        
          }
          &_bottom{
            display: flex;
            padding-bottom: 0px;
            
            justify-content: center;
                input{
                    font-family: Montserrat_Regular;
                    width: 260px;
                    height: 40px;
                    background:$l_g;
                    border: 0;
                    border-radius: 5px;
                    color: $t_whi;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
                @media #{$tablet} {
                    padding-bottom: 20px;
                }
        }
          &_line{
            width: 100%;
            height: 3px;
            background-color:$b_body;
          }
          &bottom{
            width: 100%;
            height: 3px;
            background: $l_g;
        } 
        &block{
            padding: 10px;
            @media #{$tablet} {
                padding: 30px;
            }  
            @media #{$desktop-sm} {
                padding: 40px;
           
            }
            @media #{$desktop-md} {
                padding: 50px;
           
            }
                &_child{
                    display: flex;
                    flex-direction: row;
                    height: 40px;
                    align-items: center;
                    border-bottom: 2px solid $b_bor;
                    @media #{$tablet} {
                        height: 60px;
                    }

                    div{
                        font-family: Montserrat_Regular;
                        color:$t-text;
                    }
                    div:nth-of-type(1){
                            font-size: $t_min_l;
                        width:  90px;
                        @media #{$tablet} {
                          width:  110px;  
                        }
                    }
                    div:nth-of-type(2){
                        font-size: $t_min_l;
                        
                        @media #{$phone-lg} {
                            font-size: $t_mid_s;   
                        }
                    }
                }
                &_child:last-of-type{
                    display: flex;
                    flex-direction: column;
                    border-bottom: none;
                    @media #{$tablet} {
                        flex-direction: row;   
                    }

                }
        } 
}
         
 
 
 



}



}



