@import "./../../../assets/variables";
@import './../../../assets/fonts.scss';
@import '../../../assets/style.scss';
*{
    font-family: Montserrat_Regular;
}

.cont_{
  position: relative;
  min-height: 100vh;

.top-bar {
  padding-left: 50px;
  height: 50px;
  background: $t_whi;
  box-shadow:$b_shodw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: relative;

  @media #{$tablet} {
    height: 66px;
  }

  @media #{$desktop-sm} {
    padding-left: 20px;

  }

  &__toggle {
    position: absolute;
    width: 18px;
    height: 19px;
    border-top: 3px solid $t_blavk;
    border-bottom: 3px solid $t_blavk;
    left: 20px;
    top: 50%;
    margin-top: -10px;

    &.active {
      border: 0;

      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

    @media #{$desktop-sm} {
      display: none;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 3px;
      margin: -2px 0 0 -9px;
      background: $t_blavk;

      @media #{$tablet} {
        margin-top: -1px;
      }
    }
  }

  &__title {
    img{
      width: 100%;
    }
  }

  &__right {
    height: 100%;
    text-align: right;
    color: $t_blavk;
    line-height: 1.4em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .user-name {
      display: none;
      font-size: $t_mid_xs;
      font-family: Montserrat_Regular;
      color: $t_blavk;
        @media #{$phone-lg} {
            display: block;
        }

      span {
        display: block;
        font-size:  $t_mid_xs - 3;
        line-height: 1.2em;
        color: $t_text;
        font-family: Montserrat_Regular;
      }
    }


    .user-img {
      width: 32px;
      height: 32px;
      text-align: center;
      text-transform: uppercase;
      background:$b_blue;
      border-radius: 50%;
      color: $t_whi;
      line-height: 32px;
      font-size:  $t_mid_xs ;
      margin:0 10px 0 10px ;
    }
    img{
       width: 12px;
       height: 12px;
       margin-right: 10px;
    }
    &_log{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 283px;
        height: 50px;
        background-color: $t_whi;
        position: absolute;
        right: 0;
        top:50px;
        border: 1px solid $b_bor;
        font-size: $t_mid_xs;
        color: $t_text;
        font-family: Montserrat_Regular;
        @media #{$tablet} {
            top:66px;
          }
         div{
             margin-left: 10px;
         }
    }
  }
}
.main-sidebar {
    top: 60px;
    left: 0;
    bottom: 0;
    z-index: 5;
    background: $b_whi;
    width: 200px;
    position: absolute;
    box-shadow: $b_shodw;
    margin-left: -200px;
    overflow: hidden;
  
    &.active {
      margin-left: 0;
      overflow: auto;
    }
  
    @media #{$tablet} {
      top: 80px;
    }
  
    @media #{$desktop-sm} {
      top: 0;
      overflow: auto;
      margin-left: 0;
    }
  
    &__logo {
      padding: 9px 20px 9px 20px;
      display: block;
      img {
        max-width: 100%;
      }
    }
    &_bottom{
      display: none;
      align-items: center;
      justify-content: center;
      position: fixed;
      left:20px;
      bottom: 17px;
      @media #{$desktop-sm} {
      display: flex;
       
      }
      p{
        margin-bottom: 0;
        font-size: $min;
        font-family: Montserrat_Regular;      
        color:$t_grey;  
      }
      img{
        width: 56.5px;
        height: 9.53;
        margin-left: 7px;
      }
    }
  }
  
  .main-nav {
    padding-top: 21px;
  
    a {
      display: flex;
      align-items: center;
      display: block;
      height: 68px;
      line-height: 50px;
      text-decoration: none;
      font-size: $t_mid_xs;
      color:$t_blavk;
      padding-left: 60px;
      position: relative;
      font-family: Montserrat_Regular;
      padding-top: 10px;
      &:hover {
        color: $t_blavk;
        background-color: $b_body;
        i{
          background: $l_g;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
  
      i {
        position: absolute;
        left: 37px;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 23px;
      }
    }

    
  }
    a.last-menu-item {
      margin-top: 31px;
      font-size: $font-size-default - 2;
  
      &:before {
        content: "";
        display: block;
        height: 1px;
        width: auto;
        background: $color-them-dark-alt;
        left: 15px;
        right: 15px;
        top: -16px;
        position: absolute;
      }
    }
  
    .active {
      color: $color-gold;
      border-left: 3px solid $color-gold;
      background: rgba($color-white, .1);
    }

    .menu{
        
        display: flex;
        align-content: stretch;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        @media #{$phone-lg} {
            
            padding: 10px;
        }
        @media #{$tablet} {
            
            flex-direction: row;
            padding: 30px 30px 30px 30px;
        }
        @media #{$desktop-sm} {
            
            padding: 30px 30px 30px 230px;
        }
           &_left{
                width: 100%;
                min-width: 320px;
                margin-right: 0px;
                @media #{$desktop-md} {
                    margin-right: 20px;
                      }
                .visible_ {
                    border-radius: 5px;
                    box-shadow: $b_shodw;
                    background-color: $t_whi;
                    border-radius: 5px;
                    width: 100%;
                    padding-bottom: 10px;
                        @media #{$desktop-sm} {
                        max-width: 100%;
                          }
                          @media #{$desktop-md} {
                            max-width: 100%;
                            }
                      &found{
                        margin: 20px 0 20px 0;
                        color:$t_grey;
                        font-size:$t_mid;
                        text-align: center;
                      }
                    &slice{
                    &_header{
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      padding: 10px;
                      height: 68px;
                      background-color: $b_l_g;
                          @media #{$phone-lg}{
                            padding: 10px 30px 10px 30px;
                          }
                      &_back{
                       font-size: 18px;
                       color: rgba($t_grey, 0.5);
                        cursor: pointer;
                        @media #{$phone-lg}{
                            font-size: 20px;
                          }
                        @media #{$tablet}{
                            font-size: 23px;
                          }
                      }
                    
                      &_next ,&_prew{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        .grey{
                          color: $t_grey !important ;
                        }
                       div{
                          
                           font-size: 14px;
                           @media #{$phone-lg}{
                            font-size: 17px;
                          }
                          @media #{$tablet}{
                            font-size: 20px;
                          }
                        }
                        p{
                            font-size:$t_mid_s ;
                            color:$t_grey;
                            margin: 0 5px 0 5px;
                              @media #{$phone-lg}{
                                margin: 0 10px 0 10px;
                              }
                         
                        }
                       
                      }
                    &_full{
                      width: 34%;
                      text-align: center;
                      font-size:$t_mid_s;
                      margin-bottom: 0;
                      color:$t_blavk;
                            @media #{$phone-lg}{
                              width: 40%;
                              font-size: $t_mid
                            }
                    }
                      &_round{
                        width: 34px;
                        height: 34px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $Refused;
                        p{
                          color:$t_whi;
                          font-size:$t_mid_xs;
                          margin-bottom: 0;
                        }
                      }
                    }
                    
                    &_content{
                      width: 100%;
                      display: flex;
                      flex-direction: column;
                      border-bottom: 1px solid $b_grey;
                            @media (min-width: 540px) {
                              flex-direction: row;
                            }
                    
                      &_left{
                        width: 100%;
                        border-bottom: 1px solid $b_grey;
                        display: flex;
                        flex-direction: column;
                        padding: 9px 15px 15px 15px ;
                              @media (min-width: 540px) {
                                width: 50%;
                                border: none;
                                border-right: 1px solid $b_grey;
                                  }
                      
                        div{
                          display: flex;
                    
                          height: 40px;
                          
                          @media #{$phone} {
                            justify-content: center;
                            align-items: center;
                          }
                            div{
                                width: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                @media #{$phone-lg} {
                                    margin-right: 0;
                                    width: 40px;
                                  }
                            }
                          p{
                            margin: 7px 0 7px 15px ;
                            font-size:$t_mid_xs;
                            color:$t_text;
                            width: 100%;
                                  @media (min-width: 540px) {
                                    font-size:$t_mid_s;
                                    width: 78%;
                                  }
                          }
                        }
                        div:nth-of-type(4){
                         align-items: flex-start;
                      img{
                        margin-top: 7px;
                      }
                        }
                      }
                      &_right{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                              @media (min-width: 540px) {
                                      width: 50%;
                                        }
                        
                          &_child{
                            height: 50%;
                            display: flex;
                            border-bottom: 1px solid $b_grey;
                            padding: 37px 0px 37px 0px;
                              @media #{$phone-lg} {
                                padding: 37px 0px 37px 0px;
                                  }
                                  .icon-Path-521{
                                      width: 60px;
                                      font-size: 26px;
                                  }
                                  
                          div:nth-of-type(1){
                            display: flex;
                            align-items: center;
                            justify-content: center;
                             
                          }
                          div:nth-of-type(2){
                            border-left: 1px solid $b_grey;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                     
                            p{
                              padding-left: 20px;
                              color:$t_text;
                              font-size: 11px;
                              margin-bottom: 0;
                                @media #{$phone-lg}{
                                  font-size: $t_min_l;
                                }
                              span{
                                font-size:$t_mid_xs;
                                color:$t_blavk;
                                  @media #{$phone-lg}{
                                    font-size:  $t_mid_s;
                                  }
                              }
                            }
                          }
                        }
                        &_child:nth-of-type(2){
                            border: none;
                        }
                      }
                    }
                
            
                    
                    
                    &_bottom{
                      display: flex;
                      justify-content: center;
                      padding: 8px;
                          @media #{$phone-lg}{
                            padding: 15px;
                          }
                      input{
                        font-size:$t_mid_s;
                        width: 100px;
                        height: 30px;
                        text-transform: uppercase;
                        color:$t_whi;
                        border: 5px;
                        background:$l_g;
                        cursor: pointer;
                        border-radius: 5px;
                      }
                        input:nth-of-type(2){
                          background-color: $Rgreen;
                          margin-left: 10px;
                        }
             
                    }
                    &_b{
   
                      p{ 
                          text-align: center;
                          margin-bottom: 0;
                      }
                      p:nth-of-type(1){
                          color:$Refused;
                          font-size: $t_mid;
                  
                          @media #{$phone-lg} {
                              font-size: $t_mid_m;
                          }
                      }
                      p:nth-of-type(2){
                          color:$t_text;
                          font-size: $t_mid_s;
                          @media #{$phone-lg} {
                              font-size: $t_mid_xs;
                          }
                      }
                   }
             
                    }
                    }
                    




                    ._verified{
                      width: 100%;
                        padding: 10px 0px 10px 0px;
                        border-left: 4px solid $b_body;
                              @media #{$phone-lg} {
                                padding: 15px 0px 15px 0px;
                               
                              }
                        .table-responsive{
                          border: none;
                          overflow-y: hidden;
                          -webkit-box-shadow: 0 10px 6px -6px rgb(214, 208, 208);
                          -moz-box-shadow: 0 10px 6px -6px rgb(223, 209, 209);
                          box-shadow: 0 10px 6px -6px rgb(219, 215, 215);
                       
                  
                        .history-table {
                        margin-bottom: 0;
                          thead {
                           
                            th{
                                border-top: 1px solid $b_body;
                                border-bottom: 1px solid $b_body;
                                font-size: $t_min_l;
                                color:$t_text;
                                border-top:0;
                            
                               
                            }
                            th:last-child{
                             padding-left:20px;
                            }
                          }
                          tbody {
                            
                            background-color: $b_whi;
                                tr{
                                    height: 50px;
                                    border-left: 5px solid $b_blue;
                                    border-radius: 3px;
                                    z-index: 9;
                                    box-shadow:0 10px 6px -6px rgb(219, 215, 215);
                                   
                                        td{
                                          font-size: $t_min_l;
                                           color:$t_grey;
                                           @media #{$phone-lg} {
                                            font-size: $t_mid_s;
                                          }
                                        }
                                    
                                        
                                        td:last-child{
                                          padding-left:20px;
                                          color:$t_blavk;
                                        }
                                }
                                tr:first-child{
                                  box-shadow:0 -10px 6px -6px rgb(219, 215, 215),0 10px 6px -6px rgb(219, 215, 215);
                                  border-left: 5px solid $Checking;
                                 
                                }
                             
                          }
                        }
                        }
                        &_total{
                          color: $t_blavk;
                          font-size: $t_mid_s;
                          float: right;
                          margin: 10px 30px 0 0;
                            span{
                              color:$b_blue;
                              font-size: $t_mid_s;
                            }
                          }
                      }
                 
                
                  #first{
                    height: 10px;
                    background-color: $b_body;
                    z-index: -3;
                    background-clip: content-box;
                  }
           } 
           &_right{
               display: none;
            @media #{$desktop-md} {
                display: block;
               
            }
                .login_{
                    width: 250px;
                    height: 440px;
                    border-radius: 3px;
                    box-shadow:$b_shodw;
                  
                    @media #{$desktop-md} {
                        width: 320px;
                       
                    }
                        &name{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 68px;
                            background-color: $b_l_grey;
                            border-top-left-radius: 3px;
                            border-top-right-radius: 3px;
                                div{
                                    font-family: Montserrat_Regular;
                                    color:$t_blavk;
                                    font-size: $t_mid;
                                }
                        }
                        &box{
                            background-color: $b_whi;
                            padding: 20px 0px 20px 0px;
                            height: 372px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            a{
                                width: 100%;
                                height: 68px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color:$t_grey;
                                text-decoration: none;
                                font-family: Montserrat_Regular;                                
                                    &:hover{
                                        color:$t_blavk;
                                        background-color: $b_bor;
                                    }
                            }
                       
                        }
                       
                }
            }
    }
  }
  

