<div class="cont_" >
  <div class="top-bar">
    <h2 class="top-bar__title">
        
          <img src="../../../assets/svg/logo.png" alt="Logo">
        
    </h2>
    <div class="top-bar__right">
      <div class="user-name">
        Mike Smith
        <span>
          Administartor
        </span>
      </div>
      <div class="user-img">MS</div> 
      <img src="../../../assets/svg/Path 373.svg" alt="">
    </div>
    </div>
  
  
  
  
    <div class="main-sidebar">
        <a href="/" class="main-sidebar__logo">
          <img src="../../../assets/svg/logo.png" alt="Logo">
        </a>
        <div class="main-nav">
          <a routerLink="/dashboard" routerLinkActive="active" class="@@dashboard">
            <i class="icon-Path-444"></i>
            Dashboard
          </a>
          <a routerLink="/account" routerLinkActive="active" class="@@account">
            <i class="icon-Path-447"></i>
            Investors
          </a>
          <a routerLink="/account-balance" routerLinkActive="active" class="@@balance">
            <i class="icon-Path-450"></i>
            Transactions
          </a>
          <a routerLink="buysell" routerLinkActive="active" class="@@trade">
            <i class="icon-Path-452"></i>
            FQA
          </a>
    </div>
    <div class="main-sidebar_bottom" >
        <p>ICO support by</p>
         <img src="../../../assets/svg/Group 262.svg" alt="Applicature">
    </div>
  </div>
  <div class="menu" >
    <div class="menu_left" >

        <div  class="visible_" >

            <div class="visible_slice"  >
            <div class="visible_slice_header" >
              <div class="visible_slice_header_back icon-Path-510і" ></div>
              <div  class="visible_slice_header_prew" >
                  <div  class="icon-Path_510_2_ф" ></div>
                  <p> Prev</p>
              </div  >
                <p class="visible_slice_header_full" >Mykola Kovach</p>
              <div class="visible_slice_header_next"  >
                  <p class="grey" >Next</p>
              <div class="icon-Path_510_1_ф grey" ></div>
        
              </div>
              <div class="visible_slice_header_round " >
                  <p> MS</p>
              </div>
        
            </div>
          </div>
          <div class="visible_slice_content"    >
            <div class="visible_slice_content_left">
              <div>
                <div class="icon-Path-518" ></div>
                <p>Mykola Kovach</p>
              </div>
              <div>
                  <div class="icon-Path-569" ></div>
                  <p>10/11/1987</p>
              </div>
              <div>
                <div class="icon-Path-517" ></div>
                <p>email@gmail.com</p>
              </div>
              <div>
                <div class="icon-Path-516" ></div>
                <p>+1 866 752 7753</p>
              </div>
              <div>
                <div class="icon-Path-515" ></div>
                <p>1751 Hotel Plaza Blvd, Lake Buena Vista, FL 32830, USA</p>
              </div>
              <div>
                  <div class="icon-Path-573" ></div>
                  <p>0x78352...23566</p>
              </div>
            </div>
            <div class="visible_slice_content_right">
              <div class="visible_slice_content_right_child" >
                <div class="icon-Path-521" >     </div>
                <div>
                  <p>Passport or Government Issue of Card (front): <br> <span>photo.png</span></p>
                </div>
              </div>
              <div class="visible_slice_content_right_child" >
                  <div class="icon-Path-521" >     </div>
                <div>
                  <p>Passport or Government Issue of Card (back): <br> <span>photo.png</span></p>
                </div>
              </div>
             
        
            </div>
          </div>
          <div class="visible_slice_bottom" >
            <input type="submit" value='REFUSAL' >
            <input type="submit" value='CONFIRM'>
           
          </div>
          <div class="visible_slice_b" >
              <p>Investor Blocked </p> 
              <p> enter text here that we enter in the refusal box in the admin tool</p>
            </div>
          
    </div>
    <div  class="_verified" >
        <div class="table-responsive" >
          <table class="history-table table ">
              <thead>
                  <tr>
                    <th>Wallet</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Tokens</th>
                  
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>0x49355...65241</td>
                    <td>2.45 ETH</td>
                    <td>10/10/2017, 12:30 PM</td>
                    <td>245</td>
                    
                  </tr>
                  <tr id="first" ></tr>
                  <tr>
                      <td>0x49355...65241</td>
                      <td>2.45 ETH</td>
                      <td>10/10/2017, 12:30 PM</td>
                      <td>245</td>
                    
                    </tr>
                    <tr id="first" ></tr>
                    <tr>
                        <td>0x49355...65241</td>
                        <td>2.45 ETH</td>
                        <td>10/10/2017, 12:30 PM</td>
                        <td>245</td>

                      
                      </tr>
                      <tr id="first" ></tr>
                      <tr>
                          <td>0x49355...65241</td>
                          <td>2.45 ETH</td>
                          <td>10/10/2017, 12:30 PM</td>
                          <td>245</td>
  
                        
                        </tr>
                        <tr id="first" ></tr>
                        <tr id="last">
                            <td>0x49355...65241</td>
                            <td>2.45 ETH</td>
                            <td>10/10/2017, 12:30 PM</td>
                            <td>245</td>
    
                          
                          </tr>
                          
                  </tbody>

          </table>
        </div>
        <p class="_verified_total" >Total: <span>513 643</span>         </p>
      </div> 
    </div>
    <div class="menu_right" >
        <form class="login_" > 
            <div class="login_name">
              <div>Sort</div>
            </div>
            <div class="login_box">
                <a href="">All Investors</a>
                <a href="">Confirmed</a>
                <a href="">Manual Checking</a>
                <a href="">Not Verified</a>
                <a href="">Failed</a>
            </div>
         
          
        </form>
    </div>
  </div>
  
  </div>