@import "./../../../assets/variables";
@import './../../../assets/fonts.scss';
@import '../../../assets/style.scss';

.main-sidebar {
  
    display: none;
    top: 66px;
    left: 0;
    bottom: 0;
    z-index: 0;
    background: $b_whi;
    width: 200px;
    position: absolute;
    box-shadow: $b_shodw;
    overflow: hidden;
  
 
  
    @media #{$tablet} {
      
    }
  
    @media #{$desktop-sm} {
    
      overflow: auto;
    
      display: block
    }
  
    &__logo {
      padding: 9px 20px 9px 20px;
      display: block;
      img {
        max-width: 100%;
      }
    }
    &_bottom{
      display: none;
      align-items: center;
      justify-content: center;
      position: fixed;
      left:20px;
      bottom: 17px;
      @media #{$desktop-sm} {
      display: flex;
        
      }
      p{
        margin-bottom: 0;
        font-size: $min;
        font-family: Montserrat_Regular;      
        color:$t_grey;  
      }
      img{
        width: 56.5px;
        height: 9.53;
        margin-left: 7px;
      }
    }
  }


  

  
  