
<div class="cont_" >
  <div class="top-bar">
    <h2 class="top-bar__title">
        
          <img src="../../../assets/svg/logo.png" alt="Logo">
        
    </h2>
    <div class="top-bar__right">
      <div class="user-name">
        Mike Smith
        <span>
          Administartor
        </span>
      </div>
      <div class="user-img">MS</div> 
      <img src="../../../assets/svg/Path 373.svg" alt="">
    </div>
    </div>
  
  
  
  
    <div class="main-sidebar">
        <a href="/" class="main-sidebar__logo">
          <img src="../../../assets/svg/logo.png" alt="Logo">
        </a>
        <div class="main-nav">
          <a routerLink="/dashboard" routerLinkActive="active" class="@@dashboard">
            <i class="icon-Path-444"></i>
            Dashboard
          </a>
          <a routerLink="/account" routerLinkActive="active" class="@@account">
            <i class="icon-Path-447"></i>
            Investors
          </a>
          <a routerLink="/account-balance" routerLinkActive="active" class="@@balance">
            <i class="icon-Path-450"></i>
            Transactions
          </a>
          <a routerLink="buysell" routerLinkActive="active" class="@@trade">
            <i class="icon-Path-452"></i>
            FQA
          </a>
    </div>
    <div class="main-sidebar_bottom" >
        <p>ICO support by</p>
         <img src="../../../assets/svg/Group 262.svg" alt="Applicature">
    </div>
  </div>
  <div class="menu" >
    <div class="menu_left">
      <div class="menu_left_box" >
          <div class="menu_left_box_one">
            <div>100%</div>
            <div><p>2000  <br> <span>SPARK SOLD              </span> </p></div>
          </div>
          <div class="menu_left_box_one">
            <div>83%</div>
            <div><p>2222  <br> <span>SOLD FOR BTC              </span> </p></div>
          </div>
          <div class="menu_left_box_one">
            <div>33%</div>
            <div><p>3333  <br> <span>SOLD FOR BTC              </span> </p></div>
          </div>
          <div class="menu_left_box_one">
            <div>44%</div>
            <div><p> 4444 <br> <span>SOLD FOR BTC</span> </p></div>
          </div>
          
      </div>
     
    </div>
    <div class="menu_right">
        
      <div class="menu_right_content">
        <div class="menu_right_content_child">
            <div class="menu_right_content_child_header" >
                <div>Tokens Sold        </div>
            </div>
            <div class="menu_right_content_child_i">
              <div>100%</div>
              <div>24 754 764 SPARK          </div>
          </div>
        </div>
        <div  class="menu_right_content_child" >
            <div class="menu_right_content_child_header" >
                <div>Tokens Available        </div>
            </div>
            <div class="menu_right_content_child_i">
              <div>75%</div>
              <div>24 754 764 SPARK</div>
          </div>
        </div>
        <div  class="menu_right_content_child" >
            <div class="menu_right_content_child_header" >
                <div>Sold Today         </div>
            </div>
            <div class="menu_right_content_child_i">
              <div>10%</div>
              <div>24 754 764 SPARK</div>
           </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>