

<div class="container">

  <div class="container_menu">
    <div class="container_menu_header">
      <img src="../../../assets/svg/logo.png" alt="Logo">
    </div>
    <div class="cont_">
      <form class="login_" > 
        <div class="login_name">
          <div class="login_name_arow icon-Path-510" ></div>
          <div>Log in</div>
        </div>
        <div class="login_box">
            <div class="form-group ">
                <input type="email" class="form-control login_box_email"  placeholder="login">
              </div>
              <div class="form-group ">
                <input type="password" class="form-control login_box_pass" placeholder="password" >
              </div>
              
              <div class="login_box_bottom">
                  <div class="form-check">
                      <p href="#">Forgot Password</p>
                      
                    </div>
                <input type="submit" value="Login" >
                
              </div>
        </div>
     
      
    </form>
      <form class="right_" > 
          <div class="login_name">
            <div>Sign Up</div>
          </div>
          <div class="login_box">
            <div class="login_box_input">
              <div class="form-group ">
                  <input type="email" class="form-control login_box_email"  placeholder="login">
                </div>
                <div class="form-group ">
                  <input type="password" class="form-control login_box_pass" placeholder="password" >
                </div>
                <div class="form-group ">
                    <input type="text" class="form-control login_box_pass" placeholder="Confirm Password                    " >
                  </div>
          </div>
                <div class="login_box_bottom">
                    <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value2" >
                    <label for="styled-checkbox-2">I Agree To <span>Terms & Conditions</span> 
                </label>
                  <input type="submit" value="REGISTER" >
                  
                </div>
          </div>
       
        
      </form>
    </div>
  <p>HURRY! The SPARK ICO Ends In    <br> <span>12</span>
     D <span>14</span> H <span>25</span>M <span>01</span>S</p>
  </div>
  
</div>