@import '../../../assets/variables';
@import '../../../assets/style.scss';
@import '../../../assets/fonts.scss';

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    padding:  20px 0 20px 0;
        &_menu{
            
            &_header{
                height: 70px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                img{
                    max-width: 100%;
                }
            }
            .cont_{

            display: flex;
            flex-direction: column;
            box-shadow: 0 0  7px 0 grey;
                @media #{$tablet} {
                    flex-direction: row;
         
                }
               .login_{
                 
                  
               }
            .login_, .right_{
                width: 320px;
                height: 300px;
                border-radius: 3px;
                @media #{$tablet} {
                    height: 357px;
                }
                    &name{
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 68px;
                        background-color: $b_l_grey;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                        &_arow{
                            position: absolute;
                            left:10px;
                            display: block;
                            background: $l_g;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                             @media #{$tablet} {
                                 display: none;
                     
                             }
                        }
                        .icon-Path-510{
                            font-size: 20px;
                        }
                            div{
                                font-family: Montserrat_Regular;
                                color:$t_blavk;
                                font-size: $t_mid;
                            }
                    }
                    &box{
                        background-color: $b_whi;
                        padding: 20px 30px 20px 30px;
                        height: calc(100% - 68px);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        @media #{$tablet} {
                        padding: 20px 30px 40px 30px;
                           
                        }
                            &_email, &_pass {
                                
                                color:$t_blavk !important;
                                font-family: Montserrat_Regular;
                                font-size: $t_mid_s !important;
                                
                            }
                            &_pass{
                                margin-top:0px;
                                @media #{$tablet} {
                                margin-top:-25px;
                                    
                                }
                            }

                            input::placeholder{
                                color:$t_grey;
                            }
                            &_bottom{
                                
                                    input{
                                        width: 260px;
                                        height: 40px;
                                        background:$l_g;
                                        border: 0;
                                        border-radius: 5px;
                                        color: $t_whi;
                                        text-transform: uppercase;
                                    }
                                    div{
                                        font-family: Montserrat_Regular;
                                        font-size: $t_mid_s;
                                        color: $t_blue;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin-bottom: 0;
                                        // padding-left: 20px;
                                       
                                    }
                                    p{
                                        text-align: center;
                                        font-size: $t_mid_s;
                                        color: $t_blue;
                                        margin-bottom: 10px;
                                       
                                    }
                            }
                    }
                   
            }
            .right_{
                height: 330px;
                @media #{$tablet} {
                   height: 357px;
                    }
                input{
                    margin-top: 0px;
                }
                .login_box{
                    padding-bottom: 20px;
                    @media #{$tablet} {
                    padding-bottom: 40px;
                       
                         }
                    &_input{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        align-content: stretch;
                        height: 80px;
                        input{
                            width: 260px;
                            margin-bottom: 0;
                        }
                    }
                .login_box_bottom{
                 
                   
                .styled-checkbox {
                    position: absolute; 
                    opacity: 0; 
                    // margin-bottom: -10px;
                    & + label {
                    position: relative;
                    cursor: pointer;
                    padding: 0;
                    color:$t_grey;
                    margin-bottom: 10px;
                    font-size: $t_mid_s;
                    span{
                       text-decoration: underline;
                    }
                    }
                
                
                    & + label:before {
                    content: '';
                    margin-right: 10px;
                    display: inline-block;
                    vertical-align: text-top;
                    width: 20px;
                    height: 20px;
                    background: white;
                    border-radius: 5px;
                    box-shadow: 0 0  6px 0 rgba(0, 0, 0, 0.2);
                    }
                
                
                    &:hover + label:before {
                    background: #25AFB4;
                  
                    border-radius: 5px;
                    }
                    
                
                    &:focus + label:before {
                    box-shadow: 0 0  6px 0 rgba(0, 0, 0, 0.2);
                    }
                
                
                    &:checked + label:before {
                    background: #25AFB4;
                    }
                    
                
                    &:disabled + label {
                    color:white;
                    cursor: auto;
                    }
                
                
                    &:disabled + label:before {
                    box-shadow: none;
                    background: white;
                    }
                
                    &:checked + label:after {
                    content: '';
                    position: absolute;
                    left: 5px;
                    top: 11px;
                    background: white;
                    width: 2px;
                    height: 2px;
                    box-shadow: 
                        2px 0 0 white,
                        4px 0 0 white,
                        4px -2px 0 white,
                        4px -4px 0 white,
                        4px -6px 0 white,
                        4px -8px 0 white;
                    transform: rotate(45deg);
                    }
                  
  }
}
  
  
  
  
  
  
  
  
  
  
                }
                
            }
        }
        }
      
}
 
 p{
    margin-top: 20px; 
    text-align: center;
    color:$t_grey;
    font-size: $t_mid;
    line-height: 30px;
span{
    color:$b_blue;
    font-size: $t_mid;
}
}