@import '../../../assets/variables';
@import '../../../assets/style.scss';
@import '../../../assets/fonts.scss';


*{font-family:Montserrat_Regular;}


.visible_ {
border-radius: 5px;
box-shadow: $b_shodw;
background-color: $t_whi;
border-radius: 5px;
width: 100%;
padding-bottom: 20px;
    @media #{$desktop-sm} {
    max-width: 72%;
      }
      @media #{$desktop-md} {
        max-width: 100%;
        }
  &found{
    margin: 20px 0 20px 0;
    color:$grey;
    font-size:$auth;
    text-align: center;
  }
&slice{
&_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding: 10px;
  height: 68px;
  background-color: $b_l_g;
      @media #{$phone-lg}{
        padding: 10px 20px 10px 20px;
      }
  &_back{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
  }

  &_next ,&_prew{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    .grey{
      color: $grey !important ;
    }
   
    p{
        font-size:$t_mid_s ;
        color:$t_text;
        margin: 0 5px 0 5px;
          @media #{$phone-lg}{
            margin: 0 10px 0 10px;
          }
     
    }
    *{
      font-size: $t-small !important;
          @media #{$phone-lg}{
            font-size: $size-login !important;
                }
    }
  }
&_full{
  width: 34%;
  text-align: center;
  font-size:$t_mid_s;
  margin-bottom: 0;
  color:$t_blavk;
        @media #{$phone-lg}{
          width: 40%;
          font-size: $t_mid
        }
}
  &_round{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Refused;
    p{
      color:$t_whi;
      font-size:$t_mid_xs;
      margin-bottom: 0;
    }
  }
}

&_content{
  width: 100%;
  display: flex;
flex-direction: column;
        @media #{$phone-lg} {
          flex-direction: row;
        }
  border-bottom: 1px solid $grey;
  &_left{
    width: 100%;
    border-bottom: 1px solid $grey;
          @media #{$phone-lg} {
            width: 50%;
            border: none;
            border-right: 1px solid $grey;
              }
    display: flex;
    flex-direction: column;
    padding: 9px 15px 15px 15px ;
    div{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
        div{
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
      p{
        margin: 7px 0 7px 15px ;
        font-size:$t_mid_xs;
        color:$t_text;
        width: 78%;
              @media #{$phone-lg} {
                font-size:$t_mid_s;
              }
      }
    }
    div:nth-of-type(4){
     align-items: flex-start;
  img{
    margin-top: 7px;
  }
    }
  }
  &_right{
    display: flex;
    flex-direction: column;
    width: 100%;
          @media #{$phone-lg} {
                  width: 50%;
                    }
    
      &_child{
        height: 50%;
        display: flex;
        border-bottom: 1px solid $grey;
        padding: 37px 0px 37px 0px;
          @media #{$phone-lg} {
            padding: 37px 0px 37px 0px;
              }
              .icon-Path-521{
                  width: 60px;
                  font-size: 26px;
              }
              
      div:nth-of-type(1){
        display: flex;
        align-items: center;
        justify-content: center;
         
      }
      div:nth-of-type(2){
        border-left: 1px solid $t_grey;
        display: flex;
        justify-content: center;
        align-items: center;
 
        p{
          padding-left: 20px;
          color:$t_text;
          font-size: 11px;
          margin-bottom: 0;
            @media #{$phone-lg}{
              font-size: $t_min_l;
            }
          span{
            font-size:$t_mid_xs;
            color:$t_blavk;
              @media #{$phone-lg}{
                font-size:  $t_mid_s;
              }
          }
        }
      }
    }
    &_child:nth-of-type(2){
        border: none;
    }
  }
}
&_verified{
  padding: 10px;
  box-sizing: border-box;
        @media #{$phone-lg} {
          padding: 15px 10px 15px 10px;
        }
  .table-responsive{
    border-radius: 5px;
    border: 0.8px solid $grey;
    overflow-y: hidden;
  .history-table {
  margin-bottom: 0;
    thead {
      background:$table;
      border: 4px;
    }
    tbody {
      background: $block-bg;

            tr:last-child{
            border-bottom: 0px;
          }
    }
    th {
      font-size: $t-small;
      color: $button;
    }
  tr{
    td:last-child{
      .table_box{
        width: 15.85px;
        padding-left: 10px;
        position: relative;
      }
      .table_box:hover .info-box{
      display: block;
      }
   .info-box{
    display: none;
    float: left;
    position: absolute;
    top:15px;
    right:-25px;
    width: 200px;
    border: 1px solid $grey;
    border-radius: 5px;
    background-color: $white;
    margin-top: 8px;
    box-shadow: 0 0  5px $grey;
      .romb{
                transform: rotate(45deg);
                width: 11.86px;
                height: 11.86px;
                position: relative;
                float: right;
                left: -19px;
                top:-6.7px;
                background-color:$white;
                border-top: 1px solid $grey;
                border-left: 1px solid $grey;
              }
              .lorem{
                padding: 5px;
                font-size: $size-login;
                  @media #{$tablet} {
                    padding: 10px;
                  }
              }
}
    }
  }
    td {
      color: $text;
      font-size: $t-small;
  img{
    width: 15.85px;
    height: 15px;
  }
    }
    td, th {
      padding: 10px 10px 10px;
    }
  }
  }
}
&_blocked{
  padding: 8px;
  background-color: #F6F4F4;
     @media #{$phone-lg}{
        padding: 12px;
      }
          @media #{$tablet} {
            padding: 15px
          }
  p{
    font-size: $t-small;
    color:$text;
    text-align: center;
    margin-bottom: 0;
          @media #{$phone-lg}{
            font-size: $size-login;
          }
  }
}


&_bottom{
  display: flex;
  justify-content: center;
  padding: 8px;
      @media #{$phone-lg}{
        padding: 15px;
      }
  input{
    font-size:$t_mid_s;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    color:$t_whi;
    border: 5px;
    background:$l_g;
    cursor: pointer;
    border-radius: 5px;
  }
    input:nth-of-type(2){
      background-color: $Rgreen;
      margin-left: 10px;
    }
  &_work{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: rgba($b_bor,0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    &_true {
      width: 300px;
      border:1px solid $t_whi !important;
      box-shadow: $b_shodw;
       textarea{
        color:$col-login !important;
      }
            @media #{$phone-lg}{
              width: 330px;
            }
                @media #{$phone-lg}{
                  width: 350px;
                }
                    @media #{$tablet}{
                      width: 440px;
                      
                    }
                        @media #{$desktop-sm}{
                          width: 500px;
                          
                        }
                          @media #{$desktop-md}{
                            width: 600px;
                           
                          }
      background-color: $white;
      border: 1px solid $col-login;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 10px;
        &_p{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 68px;
            background-color: $b_l_g;
            padding: 10px 0 10px 0;
            font-size: $t_mid_s;
            margin-bottom: 10px;
                @media #{$phone-lg}{
            font-size: $t_mid;
            margin-bottom: 20px;
                }
        }
        textarea{
          width: 92%;
          overflow: hidden;
          color: $t_grey;
        }
        textarea::placeholder{
            color:$t_grey;
        
        }
        p{
            margin-top: 10px;
            font-size: $t_mid_xs;
            color:$t_text;
            @media #{$phone-lg}{
                font-size: $t_mid_s;

                    }
        }
      .input-group{
        width: 360px;
          input{
            border: 0.5px solid $col-login !important;
            height: 40px;
          }
      }
      input[type=submit]{
        margin-top: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      &_input{
        display: flex;
        justify-content: center;

            input{
              width: 100px;
              height: 30px;
              text-transform: uppercase;
              color:$white;
              border: 5px;
              background-color:$warning;
              cursor: pointer;
            }
              input:nth-of-type(2){
                background-color: $Rgreen;
                margin-left: 10px;
              }
      }
    }
  }
  &_b{
   
    p{ 
        text-align: center;
        margin-bottom: 0;
    }
    p:nth-of-type(1){
        color:$t_blavk;
        font-size: $t_mid;

        @media #{$phone-lg} {
            font-size: $t_mid_m;
        }
    }
    p:nth-of-type(2){
        color:$t_text;
        font-size: $t_mid_s;
        @media #{$phone-lg} {
            font-size: $t_mid_xs;
        }
    }
 }
}



}
}
