<div  class="visible_" >

    <div class="visible_slice"  >
    <div class="visible_slice_header" >
      <div class="visible_slice_header_back icon-Path-510і" ></div>
      <div  class="visible_slice_header_prew" >
          <div  class="icon-Path_510_2_ф" ></div>
          <p> Prev</p>
      </div  >
        <p class="visible_slice_header_full" >Mykola Kovach</p>
      <div class="visible_slice_header_next"  >
          <p>Next</p>
      <div class="icon-Path_510_1_ф" ></div>

      </div>
      <div class="visible_slice_header_round " >
          <p> MS</p>
      </div>

    </div>
  </div>
  <div class="visible_slice_content"    >
    <div class="visible_slice_content_left">
      <div>
        <div class="icon-Path-518" ></div>
        <p>Mykola Kovach</p>
      </div>
      <div>
          <div class="icon-Path-569" ></div>
          <p>10/11/1987</p>
      </div>
      <div>
        <div class="icon-Path-517" ></div>
        <p>email@gmail.com</p>
      </div>
      <div>
        <div class="icon-Path-516" ></div>
        <p>+1 866 752 7753</p>
      </div>
      <div>
        <div class="icon-Path-515" ></div>
        <p>1751 Hotel Plaza Blvd, Lake Buena Vista, FL 32830, USA</p>
      </div>
      <div>
          <div class="icon-Path-573" ></div>
          <p>0x78352...23566</p>
      </div>
    </div>
    <div class="visible_slice_content_right">
      <div class="visible_slice_content_right_child" >
        <div class="icon-Path-521" >     </div>
        <div>
          <p>Passport or Government Issue of Card (front): <br> <span>photo.png</span></p>
        </div>
      </div>
      <div class="visible_slice_content_right_child" >
          <div class="icon-Path-521" >     </div>
        <div>
          <p>Passport or Government Issue of Card (back): <br> <span>photo.png</span></p>
        </div>
      </div>
     

    </div>
  </div>
  <div class="visible_slice_bottom" >
    <input type="submit" value='REFUSAL' >
    <input type="submit" value='CONFIRM'>

    <div class='visible_slice_bottom_work' >
      <div class="visible_slice_bottom_work_true" >
          <div class="visible_slice_bottom_work_true_p">Refusal Verification</div>
          <textarea class="form-control"  placeholder="Describe the reason for the refusal"  rows="7"></textarea>
          <p>Allow sending data again</p>
          <div class="visible_slice_bottom_work_true_input">
              <input type="submit" value="Cancel">
              <input type="submit"value="Send">
          </div>
      </div>
  </div>

  </div>
  <div class="visible_slice_bottom_b" >
    <p>Investor Blocked </p> 
    <p> enter text here that we enter in the refusal box in the admin tool</p>
  </div>
  <!-- <div *ngIf="prof_index.status === 'Verified' " class="visible_slice_verified" >
    <div class="table-responsive" >
      <table class="history-table table ">
          <thead>
              <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Wallet ID</th>
                <th>Status</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Comment</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of profile;let i = index">
                <td>{{item.ID}}</td>
                <td>{{+item.type}}</td>
                <td>{{item.Wallet_ID}}</td>
                <td>{{item.status}}</td>
                <td>{{item.data}}</td>
                <td>{{item.Amount}}</td>
                <td>{{item.price}}</td>
                <td ><div class='table_box' >
                    <img  *ngIf="item.comments"  src="../../../assets/icon/Path 395.svg" alt="">
                    <div class="info-box" >
                        <div class="romb" ></div>
                        <div class='lorem'>{{item.lorem}}</div>
                    </div>
                  </div>

                  </td>
              </tr>
              </tbody>

      </table>
    </div>
  </div> -->
  <!-- <div *ngIf="prof_index.status === 'Blocked' " class='visible_slice_blocked' >
    <p>Investor Blocked</p>
  </div>
  <div *ngIf="prof_index.status === 'Not Verified'  " class='visible_slice_blocked' >
      <p>Investor Not Verified</p>
    </div> -->
  </div>