@import '../../../assets/variables';
@import '../../../assets/style.scss';
@import '../../../assets/fonts.scss';
._work{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: rgba($b_bor,0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    &_true {
      width: 300px;
      border:1px solid $t_whi !important;
      box-shadow: $b_shodw;
       textarea{
        color:$col-login !important;
      }
            @media #{$phone-lg}{
              width: 330px;
            }
                @media #{$phone-lg}{
                  width: 350px;
                }
                    @media #{$tablet}{
                      width: 440px;
                      
                    }
                        @media #{$desktop-sm}{
                          width: 500px;
                          
                        }
                          @media #{$desktop-md}{
                            width: 600px;
                           
                          }
      background-color: $t_whi;
      border: 1px solid $t_grey;;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 10px;
        &_p{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 68px;
            background-color: $b_l_g;
            padding: 10px 0 10px 0;
            font-size: $t_mid_s;
            margin-bottom: 10px;
                @media #{$phone-lg}{
                    font-size: $t_mid;
                    margin-bottom: 20px;
                }
        }
        textarea{
          width: 92%;
          overflow: hidden;
          color: $t_grey;
        }
        textarea::placeholder{
            color:$t_grey;
        
        }
        p{
            margin: 5px 0 0 0;    
            font-size: $t_mid_xs;
            color:$t_text;
            @media #{$phone-lg}{
            margin: 10px 0 10px 0;
                font-size: $t_mid_s;

                    }
        }
      .input-group{
        width: 360px;
          input{
            border: 0.5px solid $t_grey !important;
            height: 40px;
          }
      }
      input[type=submit]{
        margin-top: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      &_input{
        display: flex;
        justify-content: center;

            input{
              width: 100px;
              height: 30px;
              text-transform: uppercase;
              color:$t_whi;
              border: 5px;
              background:$l_g;
              cursor: pointer;
            }
              input:nth-of-type(2){
                margin-left: 10px;
              }
      }
    }
  }