<div class='_work' >
    <div class="_work_true" >
        <div class="_work_true_p">Refusal Verification</div>
        <textarea class="form-control"  placeholder="Describe the reason for the refusal"  rows="7"></textarea>
        <p>Allow sending data again</p>
        <div class="_work_true_input">
            <input type="submit"  value="Cancel">
            <input type="submit" value="Send">
        </div>
    </div>
</div>