@import "./../../../assets/variables";
@import './../../../assets/fonts.scss';
@import '../../../assets/style.scss';
.main-nav {
    padding-top: 21px;
  
    a {
     width: 200px;
      align-items: center;
      display: block;
      height: 68px;
      line-height: 50px;
      text-decoration: none;
      font-size: $t_mid_xs;
      color:$t_blavk;
      padding-left: 60px;
      position: relative;
      font-family: Montserrat_Regular;
      padding-top: 10px;
      &:hover, .active_ {
        color: $t_blavk;
        background-color: $b_body;
        i{
          background: $l_g;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
  
      i {
        position: absolute;
        left: 37px;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 23px;
        color:$t_text;
      }
    }
   
  }
  