<div class="main-nav">
    <a routerLink="/dashboard" routerLinkActive="active_" >
      <i class="icon-Path-444"></i>
      Dashboard
    </a>
    <a routerLink="/account" routerLinkActive="active_" >
      <i class="icon-Path-447"></i>
      Investors
    </a>
    <a routerLink="/account-balance" routerLinkActive="active_">
      <i class="icon-Path-450"></i>
      Transactions
    </a>
    <a routerLink="buysell" routerLinkActive="active_" >
      <i class="icon-Path-452"></i>
      FQA
    </a>
  </div>