@import "./variables";

@font-face {
  font-family: 'Montserrat_Regular';
  src: url('/assets/font/Montserrat-Regular.otf');
  // src: url('/assets/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
  // url('/assets/fonts/bebasneue_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Montserrat_Bold';
  src: url('/assets/font/Montserrat-Bold.otf');
  // url('/assets/fonts/sfuitext-bold-webfont.woff') format('woff');
  // src: url('/assets/new_font/Proxima Nova Regular.otf');
  font-weight: normal;
  font-style: normal;

}

// @font-face {
//   font-family: 'sf-ui-text-italic';
//   // src: url('/assets/fonts/sfuitext-italic-webfont.woff2') format('woff2'),
//   // url('/assets/fonts/sfuitext-italic-webfont.woff') format('woff');
//   src: url('/assets/new_font/Proxima Nova Regular.otf');
//   font-weight: normal;
//   font-style: normal;

// }

// @font-face {
//   font-family: 'sf-ui-text-medium';
//   // src: url('/assets/fonts/sfuitext-medium-webfont.woff2') format('woff2'),
//   // url('/assets/fonts/sfuitext-medium-webfont.woff') format('woff');
//   src: url('/assets/new_font/Proxima Nova Regular.otf');
//   font-weight: normal;
//   font-style: normal;

// }

// @font-face {
//   font-family: 'proxima_sova_semibold';
//   // src: url('/assets/fonts/sfuitext-regular-webfont.woff2') format('woff2'),
//   // url('/assets/fonts/sfuitext-regular-webfont.woff') format('woff');
//   src: url('/assets/new_font/Proxima Nova Semibold.otf');


// }
// @font-face {
//   font-family: 'proxima-nova-regular';
//   src: url('/assets/new_font/Proxima Nova Regular.otf');
// }

// @font-face {
//   font-family: 'proxima-nova-bold';
//   src: url('/assets/new_font/Proxima Nova Bold.otf');
// }

// @font-face {
//   font-family: 'ProximaNovaRegular';
//   src: url('#{$font-path}/ProximaNovaRegular.eot');
//   src: url('#{$font-path}/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
//   url('#{$font-path}/ProximaNovaRegular.woff2') format('woff2'),
//   url('#{$font-path}/ProximaNovaRegular.woff') format('woff'),
//   url('#{$font-path}/ProximaNovaRegular.ttf') format('truetype'),
//   url('#{$font-path}/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg');
// }

// @font-face {
//   font-family: 'ProximaNovaSemibold';
//   src: url('#{$font-path}/ProximaNovaSemibold.eot?#iefix');
//   src: url('#{$font-path}/ProximaNovaSemibold.eot') format('embedded-opentype'),
//   url('#{$font-path}/ProximaNovaSemibold.woff2') format('woff2'),
//   url('#{$font-path}/ProximaNovaSemibold.woff') format('woff'),
//   url('#{$font-path}/ProximaNovaSemibold.ttf') format('truetype'),
//   url('#{$font-path}/ProximaNovaSemibold.svg#ProximaNovaSemibold') format('svg');
// }
