@import './variables';
@font-face {
  font-family: 'icomoon';
  src:  url('../../../../assets/fonts-investors/icomoon.eot?vmwej4');
  src:  url('../../../../assets/fonts-investors/icomoon.eot?vmwej4#iefix') format('embedded-opentype'),
    url('../../../../assets/fonts-investors/icomoon.ttf?vmwej4') format('truetype'),
    url('../../../../assets/fonts-investors/icomoon.woff?vmwej4') format('woff'),
    url('../../../../assets/fonts-investors/icomoon.svg?vmwej4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Path-510:before {
  content: "\e927";
  
}
.icon-Path-515:before {
  content: "\e931";
color:$t_grey;
}
.icon-Path-516:before {
  content: "\e932";
color:$t_grey;
}
.icon-Path-517:before {
  content: "\e933";
color:$t_grey;
}
.icon-Path-518:before {
  content: "\e934";
color:$t_grey;
}
.icon-Path-521:before {
  content: "\e935";
color:$t_grey;
}
.icon-Path-527:before {
  content: "\e937";
color:$t_grey;
}
.icon-Path-569:before {
  content: "\e93d";
color:$t_grey;
}
.icon-Path-573:before {
  content: "\e93e";
color:$t_grey;
}
.icon-Path_510_1_ф:before {
  content: "\e941";
}
.icon-Path_510_2_ф:before {
  content: "\e943";
}
