@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts-menu/icomoon.eot?s7oeir');
  src:  url('../assets/fonts-menu/icomoon.eot?s7oeir#iefix') format('embedded-opentype'),
    url('../assets/fonts-menu/icomoon.ttf?s7oeir') format('truetype'),
    url('../assets/fonts-menu/icomoon.woff?s7oeir') format('woff'),
    url('../assets/fonts-menu/icomoon.svg?s7oeir#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Path-373:before {
  content: "\e913";
  color: #858a9f;
}
.icon-Path-509ф:before {
  content: "\e926";
  color: #858a9f;
}
.icon-Group-810:before {
  content: "\e900";
  color: #4c5166;
}
.icon-Group-811:before {
  content: "\e901";
  color: #4c5166;
}
