@import "./../../../assets/variables";
@import './../../../assets/fonts.scss';
@import '../../../assets/style.scss';
.cont_{
  position: relative;
  min-height: 100vh;

.top-bar {
  padding-left: 50px;
  height: 50px;
  background: $t_whi;
  box-shadow:$b_shodw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: relative;

  @media #{$tablet} {
    height: 66px;
  }

  @media #{$desktop-sm} {
    padding-left: 20px;

  }

  &__toggle {
    position: absolute;
    width: 18px;
    height: 19px;
    border-top: 3px solid $t_blavk;
    border-bottom: 3px solid $t_blavk;
    left: 20px;
    top: 50%;
    margin-top: -10px;

    &.active {
      border: 0;

      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

    @media #{$desktop-sm} {
      display: none;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 3px;
      margin: -2px 0 0 -9px;
      background: $t_blavk;

      @media #{$tablet} {
        margin-top: -1px;
      }
    }
  }

  &__title {
    img{
      width: 100%;
    }
  }

  &__right {
    height: 100%;
    text-align: right;
    color: $t_blavk;
    line-height: 1.4em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .user-name {
      display: none;
      font-size: $t_mid_xs;
      font-family: Montserrat_Regular;
      color: $t_blavk;
        @media #{$phone} {
            display: block;
        }

      span {
        display: block;
        font-size:  $t_mid_xs - 3;
        line-height: 1.2em;
        color: $t_text;
        font-family: Montserrat_Regular;
      }
    }


    .user-img {
      width: 32px;
      height: 32px;
      text-align: center;
      text-transform: uppercase;
      background:$b_blue;
      border-radius: 50%;
      color: $t_whi;
      line-height: 32px;
      font-size:  $t_mid_xs ;
      margin:0 10px 0 10px ;
    }
    img{
       width: 12px;
       height: 12px;
       margin-right: 10px;
    }
    &_log{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 283px;
        height: 50px;
        background-color: $t_whi;
        position: absolute;
        right: 0;
        top:50px;
        border: 1px solid $b_bor;
        font-size: $t_mid_xs;
        color: $t_text;
        font-family: Montserrat_Regular;

        @media #{$tablet} {
            top:66px;
          }
          &:hover{
            
            i{
                background: $l_g;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
            }
           
         }
         div{
             margin-left: 10px;
            color:$t_blavk;
         }
       
    }
  }
}
.main-sidebar {
    top: 60px;
    left: 0;
    bottom: 0;
    z-index: 5;
    background: $b_whi;
    width: 200px;
    position: absolute;
    box-shadow: $b_shodw;
    margin-left: -200px;
    overflow: hidden;
  
    &.active {
      margin-left: 0;
      overflow: auto;
    }
  
    @media #{$tablet} {
      top: 80px;
    }
  
    @media #{$desktop-sm} {
      top: 0;
      overflow: auto;
      margin-left: 0;
    }
  
    &__logo {
      padding: 9px 20px 9px 20px;
      display: block;
      img {
        max-width: 100%;
      }
    }
    &_bottom{
      display: none;
      align-items: center;
      justify-content: center;
      position: fixed;
      left:20px;
      bottom: 17px;
      @media #{$desktop-sm} {
        display: flex;
      }
      p{
        margin-bottom: 0;
        font-size: $min;
        font-family: Montserrat_Regular;      
        color:$t_grey;  
      }
      img{
        width: 56.5px;
        height: 9.53;
        margin-left: 7px;
      }
    }
  }
  
  .main-nav {
    padding-top: 21px;
  
    a {
      display: flex;
      align-items: center;
      display: block;
      height: 68px;
      line-height: 50px;
      text-decoration: none;
      font-size: $t_mid_xs;
      color:$t_blavk;
      padding-left: 60px;
      position: relative;
      font-family: Montserrat_Regular;
      padding-top: 10px;
      
      &:hover {
        color: $t_blavk;
        background-color: $b_body;
        i{
          background: $l_g;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
  
      i {
        position: absolute;
        left: 37px;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 23px;
      }
    }
  }
    a.last-menu-item {
      margin-top: 31px;
      font-size: $font-size-default - 2;
  
      &:before {
        content: "";
        display: block;
        height: 1px;
        width: auto;
        background: $color-them-dark-alt;
        left: 15px;
        right: 15px;
        top: -16px;
        position: absolute;
      }
    }
  
    .active {
      color: $color-gold;
      border-left: 3px solid $color-gold;
      background: rgba($color-white, .1);
    }
      .menu{
    display: flex;
    flex-direction: row;
    padding: 10px;
    
    @media #{$phone-lg} {
        
        padding: 10px;
    }
    @media #{$tablet} {
        
        padding:20px;
    }
    @media #{$desktop-sm} {
        
        padding: 30px 30px 30px 230px;
    }

  


    &_{
    &list{
        box-shadow:$b_shodw;
        background-color: $b_bor;
        border-radius: 3px;
        margin-bottom: 10px;
            &_page{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 50px;
                padding: 0 15px 0 15px;
                    @media #{$tablet} {
                        height: 68px;
                        padding: 0 30px 0 30px;
                    }

                    &_left{
                        color:$t_text;
                        font-size: $t_mid_s;
                        font-family: Montserrat_Regular;
                            @media #{$tablet} {
                            font-size: $t_mid;
                            }
                    }
                    &_right{
                        font-size: 14px;
                            @media #{$tablet} {
                                font-size: 22px;
                                }
                                &:hover{
                                    background: $l_g;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent; 
                                }
                    }
            }
            &_cont{
                background-color: $b_whi;
                padding: 10px;
                color:$t_grey;
                    @media #{$tablet} {
                        padding: 20px;
                        
                    }
            }
    }
  }
  &_menu{
    display: none;
    @media #{$tablet} {
    display: block;
    margin-left: 16px;
  }          
    .login_{
        width: 320px;
        height: 383px;
        border-radius: 3px;
        box-shadow: 0 0  7px 0 grey;
            &name{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 68px;
                background-color: $b_l_grey;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                    div{
                        font-family: Montserrat_Regular;
                        color:$t_blavk;
                        font-size: $t_mid;
                    }
            }
            &box{
                background-color: $b_whi;
                padding: 20px 30px 20px 30px;
                height: calc( 100% - 68px);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                *{
                    color:red;
                }
                    &_email, &_pass {
                        border: 1px solid $ib_l_grey !important;
                    
                        color:$t_grey !important;
                        font-family: Montserrat_Regular;
                        font-size:$t_mid_s !important;
                        
                    }
                    input::placeholder, textarea::placeholder{
                        color:$t_grey;
                        font-size: $t_mid_s ;
                    }
                    &_bottom{
                        display: flex;
                        align-items: center;
                            input{
                                width: 260px;
                                height: 40px;
                                background:$l_g;
                                border: 0;
                                border-radius: 5px;
                                color: $t_whi;
                                text-transform: uppercase;
                                font-family: Montserrat_Regular;

                            }
                           
                    }
            }
           
    }
}

}



  }
  

  
