
<div class="cont_" >
  <div class="top-bar">
    <h2 class="top-bar__title">
        
          <img src="../../../assets/svg/logo.png" alt="Logo">
        
    </h2>
    <div class="top-bar__right">
      <div class="user-name">
        Mike Smith
        <span>
          Verified
        </span>
      </div>
      <div class="user-img">MS</div> 
      <img src="../../../assets/svg/Path 373.svg" alt="">
    </div>
    </div>
  
  
  
  
    <div class="main-sidebar">
        <a href="/" class="main-sidebar__logo">
          <img src="../../../assets/svg/logo.png" alt="Logo">
        </a>
        <div class="main-nav">
          <a routerLink="/dashboard" routerLinkActive="active" class="@@dashboard">
            <i class="icon-Path-444"></i>
            Dashboard
          </a>
          <a routerLink="/account" routerLinkActive="active" class="@@account">
            <i class="icon-Path-443"></i>
            Contribution
          </a>
          <a routerLink="/account" routerLinkActive="active" class="@@account">
            <i class="icon-Path-447"></i>
            Verification
          </a>
          <a routerLink="/account-balance" routerLinkActive="active" class="@@balance">
            <i class="icon-Path-450"></i>
            Transactions
          </a>
          <a routerLink="buysell" routerLinkActive="active" class="@@trade">
            <i class="icon-Path-452"></i>
            FQA
          </a>
    </div>
    <div class="main-sidebar_bottom" >
        <p>ICO support by</p>
         <img src="../../../assets/svg/Group 262.svg" alt="Applicature">
    </div>
  </div>
  
  <div class="menu" >
    <div class="menu_" >
      <div class="menu_list" >
        <div class="menu_list_page" >
          <div class="menu_list_page_left" >Maecenas et est lobortis, varius enim vel?</div>
          <div class="menu_list_page_right icon-Path-559" ></div>
        </div>
      
      </div>
      <div class="menu_list" >
          <div class="menu_list_page" >
            <div class="menu_list_page_left" >Consectetur adipiscing elit?</div>
            <div class="menu_list_page_right icon-Path-559" ></div>
          </div>
        
        </div>
        <div class="menu_list" >
            <div class="menu_list_page" >
              <div class="menu_list_page_left" >Lorem ipsum dolor sit amet?</div>
              <div class="menu_list_page_right icon-Path-561 " ></div>
            </div>
            <div class="menu_list_cont" >
                Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit. Mauris in tellus quam. Quisque sit amet
                 pellentesque nisi. Curabitur consequat volutpat 
                 commodo. Etiam fringilla ligula quis ultrices 
                 eleifend. Ut pharetra, leo non faucibus pulvinar,
                  arcu libero placerat urna, ac pharetra eros augue 
                  non elit. Duis metus enim,
                 finibus sit amet volutpat in, mollis mattis erat.
            </div>
          </div>
          <div class="menu_list" >
              <div class="menu_list_page" >
                <div class="menu_list_page_left" >Nullam scelerisque velit eu augue volutpat finibus?</div>
                <div class="menu_list_page_right icon-Path-559" ></div>
              </div>
            
            </div>
            <div class="menu_list" >
                <div class="menu_list_page" >
                  <div class="menu_list_page_left" >Ut eget purus rutrum, bibendum mauris sed, porttitor est?</div>
                  <div class="menu_list_page_right icon-Path-559" ></div>
                </div>
              
              </div>
              <div class="menu_list" >
                  <div class="menu_list_page" >
                    <div class="menu_list_page_left" >Nullam leo risus, faucibus a ultricies nec, elementum vitae velit?</div>
                    <div class="menu_list_page_right icon-Path-559" ></div>
                  </div>
                
                </div>
              </div>
              <div class="menu_menu">
  
                  <form class="login_" > 
                      <div class="login_name">
                        <div>Have Question?                          </div>
                      </div>
                      <div class="login_box">
                          
                            <div class="form-group ">
                                <textarea class="form-control  login_box_pass"  placeholder="Enter Question"  rows="9"></textarea>
                            </div>
                            <div class="login_box_bottom">
                              <input type="submit" value="SEND" >
                             
                            </div>
                      </div>
                   
                    
                  </form>
                </div>
  </div>
  </div>